@model IEnumerable<DAL.Context.SectionTranslation>

@using IdeaCms.Resources

@{
    ViewData["Title"] = "Control";
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}


<style>
    .btn-sm
    {
        float:right;
        margin:0px 5px;
    }
    .btn
    {
        outline:none !important;
    }
    #nestable-menu
    {
        float:right;
    }
    .btn-succ
    {
        float:left;
    }
    #nestable-menu button
    {
        margin-bottom:10px;
    }
</style>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<h2>@ControlTranslate.Structure</h2>
<hr />
<menu id="nestable-menu">
    <button type="button" class="btn btn-group" data-action="expand-all">@ControlTranslate.Expand @ControlTranslate.All </button>
    <button type="button" class="btn btn-group"  data-action="collapse-all">@ControlTranslate.Collapse @ControlTranslate.All</button>
</menu>
<p class="btn-succ">
    <a class="btn btn-success"  href="@Url.Action("CreatePage")">@ControlTranslate.Create @ControlTranslate.New</a>
</p>


<div class="cf nestable-lists">

    <div class="dd" id="nestable">
        <ol class="dd-list">
        @foreach (var item in Model)
        {
            if (item.Sections.ParentId != null)
            {
                
            }
            else
            {
                <li class="dd-item" data-id="@item.SectionId">
                <div class="dd-handle">@item.Name<a 
                                                    data-toggle="confirmation"  href="@Url.Action("Delete",new { id = item.SectionId })"
                                                    data-title="Are you sure you want to delete page?" 
                                                    class="btn btn-danger btn-sm">@ControlTranslate.Delete</a>
                                                    <a  href="@Url.Action("Edit", new { id = item.SectionId })" class="btn btn-default btn-sm">@ControlTranslate.Edit</a></div>
                    <ol class="dd-list">
                        @foreach (var item2 in Model)
                        {
                            if (item.SectionId == item2.Sections.ParentId)
                            {
                                <li class="dd-item" data-id="@item2.SectionId">
                                    <div class="dd-handle">
                                        @item2.Name<a data-toggle="confirmation" href="@Url.Action("Delete",new { id = item2.SectionId })"
                                                      data-title="Are you sure you want to delete page?"
                                                      class="btn btn-danger btn-sm">@ControlTranslate.Delete</a>
                                    <a class="btn btn-default btn-sm"  href="@Url.Action("Edit", new { id = item2.SectionId })">@ControlTranslate.Edit</a>
                                    </div>
                                        <ol class="dd-list">
                                        @foreach (var item3 in Model)
                                        {

                                            if (item2.SectionId == item3.Sections.ParentId)
                                            {
                                                <li class="dd-item" data-id="@item3.SectionId">
                                                    <div class="dd-handle">@item3.Name<a data-toggle="confirmation"  href="@Url.Action("Delete",new { id = item3.SectionId })"
                                                                      data-title="Are you sure you want to delete page?"
                                                                      class="btn btn-danger btn-sm">@ControlTranslate.Delete</a>
                                                                        <a class="btn btn-default btn-sm"   href="@Url.Action("Edit", new { id = item3.SectionId })">@ControlTranslate.Edit</a>
                                                                    </div>
                                                        <ol class="dd-list">
                                                        @foreach (var item4 in Model)
                                                        {

                                                            if (item3.SectionId == item4.Sections.ParentId)
                                                            {
                                                                <li class="dd-item" data-id="@item4.SectionId">
                                                                    <div class="dd-handle">@item4.Name<a data-toggle="confirmation"  href="@Url.Action("Delete",  new { id = item4.SectionId })"
                                                                                                          data-title="Are you sure you want to delete page?"
                                                                                                          class="btn btn-danger btn-sm">@ControlTranslate.Delete</a>
                                                                                        <a  href="@Url.Action("Edit",  new {id = item4.SectionId })" class="btn btn-default btn-sm">@ControlTranslate.Edit</a>
                                                                                    </div>
                                                                        <ol class="dd-list">
                                                                        @foreach (var item5 in Model)
                                                                        {

                                                                            if (item4.SectionId == item5.Sections.ParentId)
                                                                            {
                                                                                <li class="dd-item" data-id="@item5.SectionId">
                                                                                    <div class="dd-handle">
                                                                                        @item5.Name<a data-toggle="confirmation"  href="@Url.Action("Delete", new { id = item5.SectionId})"
                                                                                                      data-title="Are you sure you want to delete page?"
                                                                                                      class="btn btn-danger btn-sm">@ControlTranslate.Delete</a>
                                                                                    <a  href="@Url.Action("Edit", new { id = item5.SectionId })" class="btn btn-default btn-sm">@ControlTranslate.Edit</a>
                                                                                </div></li>
                                                                            }
                                                                        }
                                                                    </ol>
                                                                </li>
                                                            }
                                                        }
                                                     </ol>
                                                  </li>
                                             }
                                           }
                                    </ol>
                                  </li>
                            }
                        }
                    </ol>
                </li>
                }
             }
        </ol>
    </div>
</div>
<script>

    $(document).ready(function () {
        var updateOutput = function (e) {
            var list = e.length ? e : $(e.target);
                output = list.data('output');
            output.val(window.JSON.stringify(list.nestable('serialize')));
            $.ajax({
                url: '/Manage/Structure/Control',
                type: 'post',
                data: { "model": list.nestable('serialize') },
                success: function (response) {
                    if (response == "0") {
                    }
                    else if (response == "1") {
                    }
                }
            });
        };
        $('#nestable').nestable({
            group: 1
        }).on('change', updateOutput);

        updateOutput($('#nestable').data('output', $('#nestable-output')));

        $('#nestable-menu').on('click', function (e) {
            var target = $(e.target),
                action = target.data('action');
            if (action === 'expand-all') {
                $('.dd').nestable('expandAll');
            }
            if (action === 'collapse-all') {
                $('.dd').nestable('collapseAll');
            }
        });

        $('#nestable3').nestable();

    });
</script>
<script>
    $(".btn.btn-danger.btn-sm").mousedown(function (e) {
        e.stopPropagation()
    });
    $(".btn.btn-default.btn-sm").mousedown(function (e) {
        e.stopPropagation()
    });
</script>