@model IdeaCms.Models.Section
@using IdeaCms.Resources
@{
    ViewData["Title"] = StructureCreate.Create;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
    IEnumerable<DAL.Context.SectionTypes> sectionTypes = ViewData["SectionTypes"] as IEnumerable<DAL.Context.SectionTypes>;
    IEnumerable<DAL.Context.SectionTranslation> parentList = ViewData["ParentList"] as IEnumerable<DAL.Context.SectionTranslation>;
    IEnumerable<DAL.Context.MenuTypes> menues = ViewData["Menues"] as IEnumerable<DAL.Context.MenuTypes>;
}
<style>
    legend {
        margin-left: 5%;
    }
</style>

<h2>@StructureCreate.Create @StructureCreate.Page</h2>

<hr />
<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("Control")">@StructureCreate.Back_to_List</a>
</div>
<form action="@Url.Action("CreatePage")" method="post">
    <div style="width:100%;height:100%">
        <div class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="ParentId" class="col-md-2 control-label">@StructureCreate.Parent</label>
                    <div class="col-md-10">
                        <select name="ParentId" class="form-control selectpicker">
                            <option value=""></option>
                            @foreach (var item in parentList)
                            {
                                <option value="@item.SectionId">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="TypeId" class="col-md-2 control-label">@StructureCreate.Type</label>
                    <div class="col-md-10">
                        <select name="TypeId" class="selectpicker form-control">
                            @foreach (var item in sectionTypes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Style" class="col-md-2 control-label">@StructureCreate.Style</label>
                    <div class="col-md-10">
                        <select name="Style" id="Style" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Slug" class="col-md-2 control-label">@StructureCreate.Slug</label>
                    <div class="col-md-10">
                        <input name="Slug" class="form-control" />
                        <span asp-validation-for="Slug" class="text-danger"></span>
                    </div>
                </div>
                <div  class="form-group">
                    <label for="Icon" class="col-md-2 control-label">@StructureCreate.Icon</label>
                    <div class="col-md-10">
                        <select name="Icon" id="Icon" title="Select Icon" class="selectpicker">
                            <option value="icon-running" data-thumbnail="/wwwroot/images/icons/1.png"></option>
                            <option value="icon-who" data-thumbnail="/wwwroot/images/icons/2.png"></option>
                            <option value="icon-how" data-thumbnail="/wwwroot/images/icons/3.png"></option>
                            <option value="icon-about" data-thumbnail="/wwwroot/images/icons/4.png"></option>
                            <option value="icon-enroll" data-thumbnail="/wwwroot/images/icons/5.png"></option>
                            <option value="icon-task" data-thumbnail="/wwwroot/images/icons/6.png"></option>
                            <option value="icon-health" data-thumbnail="/wwwroot/images/icons/7.png"></option>
                            <option value="icon-science" data-thumbnail="/wwwroot/images/icons/8.png"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="panel panel-default">

                            <div class="panel-heading">@StructureCreate.Menu</div>

                            <!-- List group -->
                            <ul class="list-group">
                                @foreach (var item in menues)
                                {
                                    <li class="list-group-item">
                                        @item.Name
                                        <div class="material-switch pull-right">
                                            <input id="@item.Name" value="@item.Id" name="MenuTypes" type="checkbox" />
                                            <label for="@item.Name" class="label-success"></label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12 funkyradio">
                        <div class="checkbox funkyradio-success">
                            <input checked type="checkbox" id="Active" value="true" class="active" name="Active" />
                            <label for="Active">@StructureCreate.Active</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="language-tab">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@StructureCreate.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@StructureCreate.Danish</a></li>
            </ul>

            <div class="tab-content">
                <div id="English" class="tab-pane fade in active">

                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="Name" class="col-md-2 control-label">@StructureCreate.Name</label>
                            <div class="col-md-10">
                                <input name="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Description" class="col-md-2 control-label">@StructureCreate.Description</label>
                            <div class="col-md-10">
                                <input name="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="Namedk" class="col-md-2 control-label">@StructureCreate.Name</label>
                            <div class="col-md-10">
                                <input name="Namedk" class="form-control" />
                                <span asp-validation-for="Namedk" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Descriptiondk" class="col-md-2 control-label">@StructureCreate.Description</label>
                            <div class="col-md-10">
                                <input name="Descriptiondk" class="form-control" />
                                <span asp-validation-for="Descriptiondk" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <p id="waska"></p>
    <div class="form-group">
        <input type="submit" value="@StructureCreate.Create @StructureCreate.Page" class="btn btn-success btn-block" />
    </div>
 
</form>

<script>   
    var style = document.getElementById("Style");
    $("#TypeId")
        .change(function () {
            var id;
            $("#TypeId option:selected").each(function () {
                id = $(this).text();
                $.ajax({
                    url: '/en-US/Manage/Structure/CheckStyle',
                    type: 'post',
                    data: { "Id": id},
                    success: function (response) {
                        if (response == "0")
                        {
                            style.innerHTML = "";
                        }
                        else {
                            style.innerHTML = "";
                            response.forEach(function (item, i, response)
                            {
                                waska = item.Description;
                                style.innerHTML += "<option value='" + item.id + "'>" + item.Description + "</option>"
                            })
                        }
                    }
                });
            });
        })
        .change();
</script>
