@model Core.Models.Section
@using IdeaCms.Resources
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
    IEnumerable<DAL.Context.SectionTypes> sectionTypes = ViewData["SectionTypes"] as IEnumerable<DAL.Context.SectionTypes>;
    IEnumerable<DAL.Context.SectionTranslation> parentList = ViewData["ParentList"] as IEnumerable<DAL.Context.SectionTranslation>;
    IEnumerable<DAL.Context.MenuTypes> menues = ViewData["Menues"] as IEnumerable<DAL.Context.MenuTypes>;
}
<style>
    legend {
        margin-left: 5%;
    }
</style>
<script src="~/wwwroot/js/bootstrap-select.js"></script>
<link href="~/wwwroot/css/bootstrap-select.css" rel="stylesheet" />
<script src="~/wwwroot/js/bootstrap_select.js"></script>
<script src="~/wwwroot/js/Manage.js"></script>
<script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/adapters/jquery.js"></script>

<h2>@StructureEdit.Update @StructureEdit.Page</h2>

<hr />
<div style="margin-bottom:20px">
    <a class="btn btn-warning" href="@Url.Action("Control")">@StructureEdit.Back_to_List</a>
</div>
<form  action="@Url.Action("Edit")" method="post">
    <input type="hidden" name="SectionTranslationId" value="@Model.SectionTranslationId" id="Id" />
    <input type="hidden" name="ParentId"   value="@Model.ParentId"id="Id" />
    <input type="hidden" name="SectionTranslationIddk"  value="@Model.SectionTranslationIddk" id="Id" />
    <div style="width:100%;height:100%">
        <div class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="TypeId" class="col-md-2 control-label">@StructureEdit.Type</label>
                    <div class="col-md-10">
                        <select id="TypeId" name="TypeId" class="form-control selectpicker">
                            @foreach (var item in sectionTypes)
                            {
                                if (item.Id == Model.TypeId)
                                {
                                    <option selected value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Style" class="col-md-2 control-label">@StructureEdit.Style</label>
                    <div class="col-md-10">
                        <select name="Style" id="Style" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Slug" class="col-md-2 control-label">@StructureEdit.Slug</label>
                    <div class="col-md-10">
                        <input name="Slug" id="Slug" value="@Model.Slug" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Icon" class="col-md-2 control-label">@StructureEdit.Icon</label>
                    <div class="col-md-10">
                        <select name="Icon" id="Icon" title="Select Icon" class="selectpicker">
                            @if(Model.Icon == "icon-running")
                            {
                                <option  selected value="icon-running" data-thumbnail="~/wwwroot/images/icons/1.png"></option>
                            }
                            else
                            {
                                <option value="icon-running" data-thumbnail="~/wwwroot/images/icons/1.png"></option>
                            }
                            @if (Model.Icon == "icon-who")
                            {
                                <option selected value="icon-who" data-thumbnail="~/wwwroot/images/icons/2.png"></option>
                            }
                            else
                            {
                                <option value="icon-who" data-thumbnail="~/wwwroot/images/icons/2.png"></option>
                            }@if (Model.Icon == "icon-how")
                            {
                                <option selected value="icon-how" data-thumbnail="~/wwwroot/images/icons/3.png"></option>
                            }
                            else
                            {
                                <option value="icon-how" data-thumbnail="~/wwwroot/images/icons/3.png"></option>
                            }@if (Model.Icon == "icon-about")
                            {
                                <option selected value="icon-about" data-thumbnail="~/wwwroot/images/icons/4.png"></option>
                            }
                            else
                            {
                                <option value="icon-about" data-thumbnail="~/wwwroot/images/icons/4.png"></option>
                            }@if (Model.Icon == "icon-enroll")
                            {
                                <option selected value="icon-enroll" data-thumbnail="~/wwwroot/images/icons/5.png"></option>
                            }
                            else
                            {
                                <option value="icon-enroll" data-thumbnail="~/wwwroot/images/icons/5.png"></option>
                            }
                          @if (Model.Icon == "icon-task")
                          {
                            <option selected value="icon-task" data-thumbnail="~/wwwroot/images/icons/6.png"></option>
                          }
                          else
                          {
                            <option value="icon-task" data-thumbnail="~/wwwroot/images/icons/6.png"></option>
                          }@if (Model.Icon == "icon-health")
                          {
                            <option selected value="icon-health" data-thumbnail="~/wwwroot/images/icons/7.png"></option>
                          }
                          else
                          {
                            <option value="icon-health" data-thumbnail="~/wwwroot/images/icons/7.png"></option>
                          }@if (Model.Icon == "icon-science")
                          {
                            <option selected value="icon-science" data-thumbnail="~/wwwroot/images/icons/8.png"></option>
                          }
                          else
                          {
                            <option value="icon-science" data-thumbnail="~/wwwroot/images/icons/8.png"></option>
                          }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">@StructureEdit.Menu</div>

                            <ul class="list-group">
                                @foreach (var item in menues)
                                {
                                    <li class="list-group-item">
                                        @item.Name
                                        <div class="material-switch pull-right">
                                           
                                            @if (Model.MenuTypes.Contains(item.Id))
                                            {
                                                <input checked="checked" id="@item.Name" value="@item.Id" name="MenuTypes" type="checkbox" />
                                            }
                                            else
                                            {
                                                <input id="@item.Name" value="@item.Id" name="MenuTypes" type="checkbox" />
                                            } 
                                            <label for="@item.Name" class="label-success"></label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12 funkyradio">
                        <div class="checkbox funkyradio-success">
                            @if (Model.Active)
                            {
                                <input checked class="active"id="Active" name="Active" type="checkbox" value="true">
                            }
                            else
                            {
                                <input id="Active" name="Active" type="checkbox" value="true">
                            }
                             <label for="Active">@StructureEdit.Active</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="language-tab">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@StructureEdit.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@StructureEdit.Danish</a></li>
            </ul>

            <div class="tab-content">
                <div id="English" class="tab-pane fade in active">

                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="Name" class="col-md-2 control-label">@StructureEdit.Name</label>
                            <div class="col-md-10">
                                <input name="Name" value="@Model.Name" id="Name" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Description" class="col-md-2 control-label">@StructureEdit.Description</label>
                            <div class="col-md-10">
                                <input name="Description" value="@Model.Description" id="Description" class="form-control" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="Namedk" class="col-md-2 control-label">@StructureEdit.Name</label>
                            <div class="col-md-10">
                                <input name="Namedk" value="@Model.Namedk" id="Namedk" class="form-control" />
                                <span asp-validation-for="Namedk" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Descriptiondk" class="col-md-2 control-label">@StructureEdit.Description</label>
                            <div class="col-md-10">
                                <input name="Descriptiondk" value="@Model.Descriptiondk" id="Descriptiondk" class="form-control" />
                                <span asp-validation-for="Descriptiondk" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="@StructureEdit.Update" class="btn btn-success btn-block" />
    </div>

</form>
<script>

    var style = document.getElementById("Style");
    $("#TypeId")
        .change(function () {
            var id;
            $("#TypeId option:selected").each(function () {
                id = $(this).text();
                $.ajax({
                    url: '/en-US/Manage/Structure/CheckStyle',
                    type: 'post',
                    data: { "Id": id},
                    success: function (response) {
                        if (response == "0")
                        {
                            style.innerHTML = "";
                        }
                        else {
                            style.innerHTML = "";
                            response.forEach(function (item, i, response)
                            {
                                waska = item.Description;
                                if (@Model.Style==item.id)
                                {
                                    style.innerHTML += "<option selected value='" + item.id + "'>" + item.Description + "</option>"
                                }
                                else
                                {
                                    style.innerHTML += "<option value='" + item.id + "'>" + item.Description + "</option>"
                                }
                                
                            })
                        }
                    }
                });
            });
        })
        .change();
</script>