@model IEnumerable<DAL.Context.AdministratorGroups>
@using IdeaCms.Resources
@{
    ViewData["Title"] = AdministratorGroupsList.Group;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}

<h2>@AdministratorGroupsList.Group @AdministratorGroupsList.List</h2>
<hr />
<p>
    <a class="btn btn-success" href="@Url.Action("CreateAdministratorGroup")">@AdministratorGroupsList.Create @AdministratorGroupsList.New</a>
</p>
<table class="table table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>
                @AdministratorGroupsList.Name
            </th>
            <th>
                @AdministratorGroupsList.Description
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href="@Url.Action("UpdateAdministratorGroup",new { id = item.Id })" class="btn btn-default">@AdministratorGroupsList.Edit</a>
                <a data-toggle="confirmation" data-title="Are you sure you want to delete group?"
                  href="@Url.Action("DeleteAdministratorGroup",new { id = item.Id })" class="btn btn-danger">@AdministratorGroupsList.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>