@model Core.Models.AdministratorGroupsModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = CreateAdministratorGroup.Group;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<h2>@CreateAdministratorGroup.Create @CreateAdministratorGroup.Group</h2>
<hr />
<div>
<a class="btn btn-warning" href="@Url.Action("AdministratorGroupsList")">@CreateAdministratorGroup.Back_to_List</a>
</div>
<form action="@Url.Action("CreateAdministratorGroup")" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="Name" class="col-md-2 control-label">@CreateAdministratorGroup.Name</label>
            <div class="col-md-10">
                <input name="Name" required class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-md-2 control-label">@CreateAdministratorGroup.Description</label>
            <div class="col-md-10">
                <input name="Description" required id="Description" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">Permisions</div>
                    <ul class="list-group">
                        @foreach (var item in ViewData["Permisions"]as List<DAL.Context.Pages>)
                        {
                            <li class="list-group-item">
                                @item.Name
                                <div class="material-switch pull-right">
                                    <input id="@item.Name" value="@item.Id" name="pages" type="checkbox" />
                                    <label for="@item.Name" class="label-success"></label>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="compare" value="@CreateAdministratorGroup.Create" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
</form>
<div class="alert alert-warning" style="display:none" role="alert">
    <strong>Warning!</strong> <span id="warningMessage"></span>
</div>
<div class="alert alert-danger" style="display:none" role="alert">
    <strong>Oh snap!</strong><span id="dangerMessage"></span>
</div>