@model Core.Models.AdministratorGroupsModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = UpdateAdministratorGroup.Group;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}

<h2>@UpdateAdministratorGroup.Update @UpdateAdministratorGroup.Group</h2>
<hr />
<div>
    <a class="btn btn-warning" href="@Url.Action("AdministratorGroupsList")" >@UpdateAdministratorGroup.Back_to_List</a>
</div>

<form action="@Url.Action("UpdateAdministratorGroup")" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@Model.Id" name="Id" />
        <div class="form-group">
            <label for="Name" class="col-md-2 control-label">@UpdateAdministratorGroup.Name</label>
            <div class="col-md-10">
                <input name="Name" value="@Model.Name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-md-2 control-label">@UpdateAdministratorGroup.Description</label>
            <div class="col-md-10">
                <input name="Description" value="@Model.Description" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">Permisions</div>

                    <ul class="list-group">
                        @foreach (var item in ViewData["Permisions"] as List<DAL.Context.Pages>)
                        {
                            
                            <li class="list-group-item">
                                @item.Name
                                <div class="material-switch pull-right">
                                    @if (Model.pages.Contains(item.Id))
                                    {
                                        <input id="@item.Name" value="@item.Id" name="Pages" checked type="checkbox" />
                                    }
                                    else
                                    {
                                        <input id="@item.Name" value="@item.Id" name="pages" type="checkbox" />
                                    }

                                    <label for="@item.Name" class="label-success"></label>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@UpdateAdministratorGroup.Update" class="btn btn-success btn-block" />
            </div>
        </div>

    </div>
</form>

