@model IEnumerable<DAL.Context.BannerTranslation>
@using IdeaCms.Resources
@{
    ViewData["Title"] = BannerList.Banner;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<script>
    function changeId(p1)
    {
        $("#create").attr("href", "/CreateBanner/" + p1);
    }
</script>
<h2>@BannerList.Banner @BannerList.List</h2>
<hr />
<p style="float:left;margin-right:20px;">
    <a class="btn btn-success" id="create" href="@Url.Action("CreateBanner",new { id = ViewBag.Id })">@BannerList.Create @BannerList.New</a>
</p>
<div class="dropdown" style="float:left;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        @BannerList.Pages @BannerList.Category
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("BannerList", new { id = "" })">@BannerList.All</a></li>
        @foreach (var item in ViewData["Types"] as IEnumerable<DAL.Context.Settings>)
        {
            <li><a href="@Url.Action("BannerList", new { id = item.Id })" onclick="changeId(@item.Id)" >@item.Description</a></li>
        }
    </ul>
</div>
<table class="table table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>
                @BannerList.Title
            </th>
            <th>
                @BannerList.Url
            </th>
            <th>
                @BannerList.Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Banner.Settings.Description)
                </td>
                <td>
                    <a href="@Url.Action("UpdateBanner",new { id = item.BannerId})" class="btn btn-default">@BannerList.Edit</a>
                    <a  href="@Url.Action("DeleteBanner",new { id = item.BannerId})" data-toggle="confirmation" data-title="Are you sure you want to delete record?"
                       class="btn btn-danger">@BannerList.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
