@model Core.Models.BannerModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = UpdateBanner.Banner;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
<h2>@UpdateBanner.Update @UpdateBanner.Banner</h2>

<hr />
<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("BannerList")">@UpdateBanner.Back_to_List</a>
</div>
<form action="@Url.Action("UpdateBanner")" enctype="multipart/form-data" method="post">
    <div style="width:100%;height:100%; overflow:hidden;">
        <div id="FileId-hidden-inputs">
        </div>
        <div id="FileIddk-hidden-inputs">
        </div>
        <div style="float:right; width:35%" class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div class="form-group">
                    <label for="Target" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select name="Target" class="form-control">
                            <option value="">@UpdateBanner.Same @UpdateBanner.Window</option>
                            <option value="_blank">@UpdateBanner.New @UpdateBanner.Window</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="type" value="@Model.Type"/>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">@UpdateBanner.Display @UpdateBanner.Banner @UpdateBanner.In</div>

                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item">
                                    @UpdateBanner.All @UpdateBanner.Page
                                    <div class="material-switch pull-right">
                                        <input id="All" type="checkbox" />
                                        <label for="All" class="label-default"></label>
                                    </div>
                                </li>
                                @foreach (var item in ViewData["Section"] as IEnumerable<DAL.Context.SectionTranslation>)
                                {
                                   
                                    <li class="list-group-item">
                                        @item.Name
                                        <div class="material-switch pull-right">
                                            @if (Model.DisplayBannerIn.Contains(item.SectionId))
                                            {
                                                <input checked="checked" id="@item.Name" value="@item.SectionId" name="DisplayBannerIn" class="page-checkbox" type="checkbox" />
                                            }
                                            else
                                            {
                                                <input id="@item.Name" value="@item.SectionId" name="DisplayBannerIn" class="page-checkbox" type="checkbox" />
                                            }
                                            <label for="@item.Name" class="label-success"></label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2 funkyradio">
                        <div class="checkbox funkyradio-success">
                            @if(Model.Active)
                            {
                                <input checked class="active"  value="true"  name="Active" type="checkbox" id="Active"/>
                            }
                            else
                            {
                                <input class="active" name="Active" value="true" type="checkbox" id="Active" />
                            }
                            <label for="Active">@UpdateBanner.Published</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:60%" class="language-tab col-lg-8">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@UpdateBanner.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@UpdateBanner.Danish</a></li>
            </ul>

            <div class="tab-content ">
                <div id="English" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Url" class="col-md-2 control-label">@UpdateBanner.Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Title" class="col-md-2 control-label">@UpdateBanner.Title</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Title)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <div id="GalleryImages" class="gallery-images">
                                </div>
                                <div>
                                    <a data-toggle="modal" onclick="value('FileId')" id="FileId" data-target="#myModal" class="choose-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Urldk" class="col-md-2 control-label">@UpdateBanner.Url</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(x=>x.Urldk, new { @class = "form-control" })
                                <span asp-validation-for="Urldk" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Titledk" class="col-md-2 control-label">@UpdateBanner.Title</label>
                            <div class="col-md-10">
                               @Html.TextAreaFor(x => x.Titledk)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <div id="GalleryImages" class="gallery-images">
                                </div>
                                <div>
                                    <a data-toggle="modal" onclick="value('FileIddk')" id="FileIddk" data-target="#myModal" class="choose-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <hr />
    <div class="form-group">
        <input type="submit" value="@UpdateBanner.Update @UpdateBanner.Banner" id="create" class="btn btn-success btn-block" />
    </div>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@UpdateBanner.File @UpdateBanner.Manager</h4>
            </div>
            <div class="modal-body">
                <div id="modelgallery" class="modal-gallery">
                    <a data-dismiss="modal" onclick="createInput(0,'','')" class="modal-gallery-image modal-gallery-image-clear">

                    </a>
                    @foreach (var item in ViewData["Images"] as IEnumerable<DAL.Context.File>)
                    {
                        <a data-dismiss="modal" onclick="createInput(@item.Id,'@item.FileName','@item.Extension')" class="modal-gallery-image">
                            <img src="~/wwwroot/images/standard/@item.FileName@item.Extension" />
                        </a>
                        if(item.Id == Model.FileId)
                        {
                            <script>$(document).ready(function () { value("FileId"); createInput(@item.Id,"@item.FileName","@item.Extension")});</script>
                        }
                        if (item.Id == Model.FileIddk)
                        {
                            <script>$(document).ready(function () { value("FileIddk"); createInput(@item.Id,"@item.FileName","@item.Extension")});</script>
                        }
                    }
                </div>
                <div class="upload-file">
                    <form>
                        <div style="padding-left:0px" class="modal-footer">
                            <div style="padding-left:0px" class="col-lg-6 col-sm-6 col-12">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            @UpdateBanner.Browse<input type="file" id="file" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <button style="float:left" type="button" id="upload" class="btn btn-primary">@UpdateBanner.Upload</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@UpdateBanner.Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#upload").click(function () {
            var formData = new FormData();
            formData.append('file', $('#file')[0].files[0]);
            formData.append('Type', @ViewBag.Id);
            $.ajax({
                url: '/Manage/Banner/UploadImage',
                type: 'POST',
                data:formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data == "0")
                    {

                    }
                    else
                    {
                        var obj = JSON.parse(data);
                        document.getElementById("modelgallery").innerHTML += "<a  data-dismiss='modal' onclick=\"createInput(" + obj.id + ",'" + obj.name + "','" + obj.extension + "')\" class='modal-gallery-image'><img src='/wwwroot/images/standard/" + obj.name + obj.extension + "'/></a>";
                    }
                }
            });
        });
    });
</script>
<script>
    function createInput(p1, p2, p3) {
        if(p1 == 0) {
            document.getElementById(val + "-hidden-inputs").innerHTML = "";
            document.getElementById(val).innerHTML = "";
        } else {
            document.getElementById(val + "-hidden-inputs").innerHTML = "<input type='hidden' name='" + val + "' value='" + p1 + "'/>";
            document.getElementById(val).innerHTML = "<img src='/wwwroot/images/standard/" + p2 + p3 + "'/></a>";
        }
    }
     
    var val = "";
    function value(e)
    {
        val = e;
    }
    $("#All").on('change', function () {
        if ($("#All").is(':checked')) {
            $(".page-checkbox").each(function () {
                this.checked = true;

            });
        } else {
            $(".page-checkbox").each(function () {
                this.checked = false;

            });
        }
    });
</script>

<script src="~/wwwroot/js/ckeditor/ckeditor.js"></script>
<script src="~/wwwroot/js/sample.js"></script>
<script> $(document).ready(function () { initSample(); })</script>