@model IEnumerable<DAL.Context.Administrators>
@using IdeaCms.Resources

    @{
    ViewData["Title"] = AdministratorsList.Users;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
    }
    @if (TempData["success"] != null)
    {
    <div class="alert alert-success" role="alert">
        <strong>Success! </strong><span>@TempData["success"].ToString()</span>
    </div>
    TempData.Remove("Error");
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
        </div>
        TempData.Remove("success");
    }
    <h2>@AdministratorsList.Users</h2>
    <hr />
    <p>
        <a class="btn btn-success" href="@Url.Action("CreateAdministrator")">@AdministratorsList.Create @AdministratorsList.New</a>
    </p>

    <table class="table table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @AdministratorsList.Name
                </th>
                <th>
                    @AdministratorsList.Email
                </th>
                <th>
                    @AdministratorsList.Group
                </th>
                <th>
                    @AdministratorsList.Active
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <th scope="row">
                        @Html.DisplayFor(modelItem => item.Id)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdministratorGroups.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        <a href="@Url.Action("UpdateAdministrator", new  { id = item.Id})" class="btn btn-default">@AdministratorsList.Edit</a>
                        <a href="@Url.Action("DeleteAdministrator", new  { id = item.Id})" data-toggle="confirmation" data-title="Are you sure you want to delete user?"
                           class="btn btn-danger">@AdministratorsList.Delete</a>
                        <a href="@Url.Action("ResetPassword", new  { id = item.Id})" class="btn btn-primary">@AdministratorsList.Reset</a>
                    </td>
                </tr>
}
        </tbody>
    </table>