@using IdeaCms.Resources
@{
    ViewData["Title"] = AdministratorsList.reset_password;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
    int id = ViewBag.Id;
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<form action="@Url.Action("ChangePassword")" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="id" value="@id" />
        <div class="form-group">
            <label for="password" class="col-md-2 control-label">@AdministratorsList.old_password </label>
            <div class="col-md-10">
                <input id="password" type="password" name="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="newpassword" class="col-md-2 control-label">@AdministratorsList.new_password </label>
            <div class="col-md-10">
                <input id="newpassword" type="password" name="newpassword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="confirmpassword" class="col-md-2 control-label">@AdministratorsList.confirm_password </label>
            <div class="col-md-10">
                <input id="confirmpassword" type="password" name="confirmpassword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@AdministratorsList.save" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
</form>

