﻿@model DAL.Context.Administrators
@using IdeaCms.Resources
@{
    ViewData["Title"] = "CreateAdministrator";
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}

<h2>@Createadministrator.Create @Createadministrator.Administrator</h2>
<hr />
<div>
    <a class="btn btn-warning"  href="@Url.Action("AdministratorsList")" >@Createadministrator.Back_to_List</a>
</div>
<form asp-action="CreateAdministrator" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="Name" class="col-md-2 control-label">@Createadministrator.Name</label>
            <div class="col-md-10">
                <input name="Name" id="name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Email" class="col-md-2 control-label">@Createadministrator.Email</label>
            <div class="col-md-10">
                <input name="Email" type="email" id="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Password"  class="col-md-2 control-label">@Createadministrator.Password</label>
            <div class="col-md-10">
                <input name="Password" type="password" id="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-md-2 control-label">@Createadministrator.Password</label>
            <div class="col-md-10">
                <input type="password" id="ConfirmPassword" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="GroupId" class="col-md-2 control-label">@Createadministrator.GroupId</label>
            <div class="col-md-10">
                <select id="group" name="Group" class ="form-control" asp-items="ViewBag.GroupId">
                    @foreach(var item in ViewData["AdministratorGroups"] as IEnumerable<DAL.Context.AdministratorGroups>)
                    {
                        <option value="@item.Id">@item.Description</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input checked class="active" id="Active" value="true" type="checkbox" name="Active" />
                    <label for="Active">@Createadministrator.Active</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="compare" value="@Createadministrator.Create" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
</form>
<div class="alert alert-warning" style="display:none" role="alert">
    <strong>Warning!</strong> <span id="warningMessage"></span>
</div>
<div class="alert alert-danger" style="display:none" role="alert">
    <strong>Error! </strong><span id="dangerMessage"></span>
</div>
<script>
    $(document).ready(function () {
        $('#compare').click(function () {
            $('.alert-warning').hide();
            var email = $('#email').val();
            var password = $('#password').val();
            var ConfirmPassword = $("#ConfirmPassword").val();
            var name = $('#name').val();
            var group = $('#group').val();
            var active = $(".active").is(":checked") ? "true" : "false";
            if (email == '' || password == '' || name == '' || group =="") {
                $('#warningMessage').html("Fill all fields!");
                $('.alert-warning').show();
            }
            if (password != ConfirmPassword) {
                $('#warningMessage').html("Passwords do not match");
                $('.alert-warning').show();
            }
            else {
                $.ajax({
                    url: '/Manage/Administrators/CreateAdministrator',
                    type: 'post',
                    data: { "Email": email, "Password": password, "Name": name, "GroupId": group, "Active": active },
                    success: function (response) {
                        if (response == "0") {
                            window.location.href = "/Manage/Administrators/AdministratorsList";
                        }
                        else if (response == "1") {
                            $('.alert-danger').show();
                            $('#dangerMessage').html("email or user name is already registered");
                        }
                    }
                });
            }
        });
    });

</script>