@model DAL.Context.Administrators
@using IdeaCms.Resources
@{
    ViewData["Title"] = "CurrentUser";
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        <strong>Success! </strong><span>@TempData["success"].ToString()</span>
    </div>
    TempData.Remove("success");
}
<form action="@Url.Action("CurrentUser")"  method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@Model.Id" name="Id" />
        <input type="hidden" value="@Model.GroupId" name="GroupId" />
        <input type="hidden" value="@Model.Password" name="Password" />
        <input type="hidden" value="@Model.Active" name="Active" />
        <div class="form-group">
            <label for="Name" class="col-md-2 control-label">@AdministratorsList.Name</label>
            <div class="col-md-10">
                <input name="Name" value="@Model.Name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="Email" class="col-md-2 control-label">@AdministratorsList.Email</label>
            <div class="col-md-10">
                <input name="Email" value="@Model.Email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("ChangePassword", new { id = Model.Id } )" class="btn btn-primary btn-block">@AdministratorsList.chane @AdministratorsList.password</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"  value="@AdministratorsList.save" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
</form>

