@model DAL.Context.Administrators
@using IdeaCms.Resources
@{
    ViewData["Title"] = "UpdateAdministrator";
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
<h2>@UpdateAdministrator.Edit  @UpdateAdministrator.Administrator </h2>
<hr />

<div>
    <a class="btn btn-warning" href="@Url.Action("AdministratorsList")" >@UpdateAdministrator.Back_to_List </a>
</div>

<form action="@Url.Action("UpdateAdministrator")" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" value="@Model.Id" name="Id"  id="Id"/>
        <input type="hidden" name="Password" value="@Model.Password" id="password" />
        <div class="form-group">
            <label for="Name" class="col-md-2 control-label">@UpdateAdministrator.Name </label>
            <div class="col-md-10">
                <input name="Name" value="@Model.Name" id="name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="Email" class="col-md-2 control-label">@UpdateAdministrator.Email </label>
            <div class="col-md-10">
                <input name="Email" value="@Model.Email" type="email" id="email" class="form-control" />
            </div>
        </div>
       
        <div class="form-group">
            <label for="GroupId" class="control-label col-md-2">@UpdateAdministrator.GroupId </label>
            <div class="col-md-10">
                <select name="GroupId" id="group" class="form-control" asp-items="ViewBag.GroupId">
                    @foreach (var item in ViewData["AdministratorGroups"] as IEnumerable<DAL.Context.AdministratorGroups>)
                    {
                        if (item.Id == Model.Id)
                        {
                            <option selected="selected" value="@item.Id">@item.Description</option>
                        }
                        else
                        {
                          <option value="@item.Id">@item.Description</option>
                        }

                    }
                </select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @if (Model.Active)
                    {
                        <input checked type="checkbox" id="Active" value="true" name="Active" class="active" />
                    }
                    else
                    {
                        <input type="checkbox" id="Active" value="true" name="Active" class="active" />
                    }
                    <label for="Active">@UpdateAdministrator.Active </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="compare" value="@UpdateAdministrator.Save " class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
</form>
<div class="alert alert-warning" style="display:none" role="alert">
    <strong>Warning!</strong> <span id="warningMessage"></span>
</div>
<div class="alert alert-danger" style="display:none" role="alert">
    <strong>Error! </strong><span id="dangerMessage"></span>
</div>
<script>
    $(document).ready(function () {
        $('#compare').click(function () {
            $('.alert-warning').hide();
            var id = $("#Id").val();
            var email = $('#email').val();
            var name = $('#name').val();
            var password = $("#password").val();
            var group = $('#group').val();
            var active = $(".active").is(":checked") ? "true" : "false";
            if (email == '' ||  name == '' || group =="") {
                $('#warningMessage').html("Fill all fields!");
                $('.alert-warning').show();
            }
            else {
                $.ajax({
                    url: '/Manage/Administrators/UpdateAdministrator',
                    type: 'post',
                    data: { "Id": id, "Email": email, "Password": password,  "Name": name, "GroupId": group, "Active": active },
                    success: function (response) {
                        if (response == "0") {
                            window.location.href = "/Manage/Administrators/AdministratorsList";
                        }
                        else if (response == "1") {
                            $('.alert-danger').show();
                            $('#dangerMessage').html("email or user name is already registered");
                        }
                    }
                });
            }
        });
    });

</script>
