@{ 
    Layout = null;
}
<script src="~/wwwroot/scripts/js/jquery.min.js"></script>
@*<input  hidden id="pid" name="nemid" value=""/>*@
<iframe src="@Url.Action("Logon", "DenskId")"  width="100%" height="100%" border="0" style="line-height: 1.0; border: none; margin: 0; padding: 0; overflow: hidden;" scrolling="no"></iframe>

<script>
    var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
    var eventer = window[eventMethod];
    var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
    var AuthenticationInfo = null;
    eventer(messageEvent, function (e) {
        AuthenticationInfo = e.data;
        $("#pid").val(AuthenticationInfo.pid);
        $("#AuthenticationInfo").val(AuthenticationInfo)
    }, false);
</script>