﻿<script src="~/wwwroot/scripts/js/jquery.min.js"></script>
@Html.Raw(@ViewBag.NemIdParameterBlock)
<div class="row">
    <div class="col s12">
        <div>
            <div style="display: table; margin: 0px auto; line-height: 1.0;">
                <iframe id="IFrameId" src="@ViewBag.IframeUrl" width="200" height="250" border="0" style="line-height: 1.0; border: none; margin: 0; padding: 0; overflow: hidden;" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
<script>

</script>