﻿@Html.Raw(@ViewBag.NemIdParameterBlock)
<div class="row">
    <div class="col s12 center-align"><br/><h3>@ViewBag.Maintitle</h3></div>
</div>
<div class="row">
    <div class="col s12">
        <div>
            <div style="display: table; margin: 0px auto; line-height: 1.0;">
                <iframe src="@ViewBag.IframeUrl" width="800" height="600" border="0" style="line-height: 1.0; border: none; margin: 0; padding: 0; overflow: hidden;" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>