@model IEnumerable<DAL.Context.InfoTranslation>
@using IdeaCms.Resources
@{
    ViewData["Title"] = TextPagesList.Text;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<h2>@TextPagesList.Text @TextPagesList.Pages @TextPagesList.List</h2>
<hr />
<p style="float:left;margin-right:20px;">
    <a class="btn btn-success" href="@Url.Action("CreateTextPage")">@TextPagesList.Create @TextPagesList.New</a>
</p>
<div class="dropdown" style="float:left;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        @TextPagesList.Pages @TextPagesList.Category
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("TextPagesList",new { id = "" })">@TextPagesList.All</a></li>
        @foreach (var item in ViewData["Section"] as IEnumerable<DAL.Context.SectionTranslation>)
        {
            <li><a href="@Url.Action("TextPagesList",new { id = item.SectionId })" >@item.Name</a></li>
        }
    </ul>
</div>
<table class="table table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)]
            </th>
            <th style="min-width: 170px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                <a href="@Url.Action("UpdateTextPage",new { id = item.InfoId })" class="btn btn-default">@TextPagesList.Edit</a>
                <a data-toggle="confirmation" data-title="Are you sure you want to delete record?"
                  href="@Url.Action("DeleteTextPage",new { id = item.InfoId })" class="btn btn-danger">@TextPagesList.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
