@model Core.Models.TextPageModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = UpdateTextPage.Text;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
    var ImagesList = ViewData["Images"] as IEnumerable<DAL.Context.File>;
}

<h2>@UpdateTextPage.Update @UpdateTextPage.Text @UpdateTextPage.Page</h2>

<hr />
<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("TextPagesList")">@UpdateTextPage.Back_to_List</a>
</div>

<form asp-action="UpdateTextPage" method="post">
    <div style="width:100%;height:100%; overflow:hidden;">
        <div id="hidden-inputs">
            <input name="FileId" value="@Model.FileId" hidden/>
        </div>
        <div style="float:right; width:35%" class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div class="form-group">
                    <label for="Section" class="col-md-2 control-label">@UpdateTextPage.Section</label>
                    <div class="col-md-10">
                        <select id="group" name="Section" class="form-control">
                            @foreach (var item in ViewData["Section"] as IEnumerable<DAL.Context.SectionTranslation>)
                            {
                                if (item.SectionId == Model.Section)
                                {
                                    <option selected value="@item.SectionId">@item.Description</option>
                                }
                                else
                                {
                                    <option value="@item.SectionId">@item.Description</option>
                                }

                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a data-toggle="modal" id="choose-image" data-target="#myModal" class="choose-image">
                            @foreach (var item in ViewData["Images"] as IEnumerable<DAL.Context.File>)
                            {
                                if (item.Id == Model.FileId)
                                {
                                    <img src="~/wwwroot/images/standard/@item.FileName@item.Extension" />
                                }
                            }
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12 funkyradio">
                        <div class="checkbox funkyradio-success">
                            @if (Model.Published)
                            {
                                <input checked value="true" class="active" id="Published" name="Published" type="checkbox" />
                            }
                            else
                            {
                                <input value="true" class="active" id="Published" name="Published" type="checkbox" />
                            }
                            <label for="Published">@UpdateTextPage.Published</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:60%" class="language-tab col-lg-8">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@UpdateTextPage.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@UpdateTextPage.Danish</a></li>
            </ul>

            <div class="tab-content ">
                <div id="English" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Title" class="col-md-2 control-label">@UpdateTextPage.Title</label>
                            <div class="col-md-10">
                                <input value="@Model.Title" name="Title" class="form-control"   />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Description" class="col-md-2 control-label">@UpdateTextPage.Description</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Content" class="col-md-2 control-label">@UpdateTextPage.Content</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Content)
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Titledk" class="col-md-2 control-label">@UpdateTextPage.Title</label>
                            <div class="col-md-10">
                                <input name="Titledk" value="@Model.Titledk" class="form-control" />
                                <span asp-validation-for="Titledk" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Descriptiondk" class="col-md-2 control-label">@UpdateTextPage.Description</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Descriptiondk)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Contentdk" class="col-md-2 control-label">@UpdateTextPage.Content</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Contentdk)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="@UpdateTextPage.Update @UpdateTextPage.Text @UpdateTextPage.Page" class="btn btn-success btn-block" />
    </div>
</form>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@UpdateTextPage.File @UpdateTextPage.Manager</h4>
            </div>
            <div class="modal-body">
                <div id="modelgallery" class="modal-gallery">
                    <a data-dismiss="modal" onclick="createInput(0,'','')" class="modal-gallery-image modal-gallery-image-clear">

                    </a>
                    @foreach (var item in ImagesList)
                    {
                        <a data-dismiss="modal" onclick="createInput(@item.Id,'@item.FileName','@item.Extension')" class="modal-gallery-image">
                            <img src="~/wwwroot/images/standard/@item.FileName@item.Extension" />
                        </a>
                    }
                </div>
                <div class="upload-file">
                    <form>
                        <div style="padding-left:0px" class="modal-footer">
                            <div style="padding-left:0px" class="col-lg-6 col-sm-6 col-12">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            @UpdateTextPage.Browse<input type="file" id="file" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <button style="float:left" type="button" id="compare" class="btn btn-primary">@UpdateTextPage.Upload</button>
                        </div>
                    </form>
                    <div id="imgloader" class="loader"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@UpdateTextPage.Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    function getExtension(filename) {
        var parts = filename.split('.');
        return parts[parts.length - 1];
    }
    function isImage(filename) {
        var ext = getExtension(filename);
        switch (ext.toLowerCase()) {
            case 'jpg':
            case 'png':
            case 'JPEG':
            case 'PNG':
                return true;
        }
        return false;
    }
    $(document).ready(function () {
        $("#compare").click(function () {
            if (!isImage($('#file')[0].files[0].name)) {
                window.alert('file is not valid');
            }
            else {
                $("#imgloader").show();
                var formData = new FormData();
                formData.append('file', $('#file')[0].files[0]);

                $.ajax({
                    url: '/Manage/TextPage/UploadFileAsync',
                    type: 'POST',
                    data: formData,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function (data) {
                        $("#imgloader").hide();
                        if (data == "0") {

                        }
                        else {
                            var obj = JSON.parse(data);
                            document.getElementById("modelgallery").innerHTML += "<a  data-dismiss='modal' onclick=\"createInput(" + obj.id + ",'" + obj.name + "','" + obj.extension + "')\" class='modal-gallery-image'><img src='/wwwroot/images/standard/" + obj.name + obj.extension + "'/></a>";
                        }
                    }
                });
            }
        });
    });
</script>
<script>
    $(function () {
        $("#Content").ckeditor();
        $("#Description").ckeditor();
        $("#Contentdk").ckeditor();
        $("#Descriptiondk").ckeditor();
    });
    function createInput(p1, p2, p3) {
        if (p1 == 0) {
            document.getElementById("hidden-inputs").innerHTML = "";
            document.getElementById("choose-image").innerHTML = "";
        } else {
            document.getElementById("hidden-inputs").innerHTML = "<input type='hidden' name='FileId' value='" + p1 + "'/>";
            document.getElementById("choose-image").innerHTML = "<img src='/wwwroot/images/standard/" + p2 + p3 + "'/></a>";
        }
    }
</script>