﻿@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?turh3q');
    src: url('../fonts/icomoon.eot?turh3q#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?turh3q') format('truetype'), url('../fonts/icomoon.woff?turh3q') format('woff'), url('../fonts/icomoon.svg?turh3q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-file-manager:before {
    content: "\e900";
}

.Information:before {
    content: "\e901";
}

.icon-manager:before {
    content: "\e902";
}
.icon-Admin:before {
    content: "\e902";
}

.icon-Structure:before {
    content: "\e903";
}

.icon-translator:before {
    content: "\e904";
}

.icon-users:before {
    content: "\e905";
}
