@model Core.Models.GalleryModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = CreateGallery.Gallery;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}

<h2>@CreateGallery.Create @CreateGallery.Gallery</h2>

<hr />
<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("GalleryList")">@CreateGallery.Back_to_List</a>
</div>

<form action="@Url.Action("CreateGallery")" enctype="multipart/form-data" method="post">
    <div style="width:100%;height:100%; overflow:hidden;">
        <div id="hidden-inputs">

        </div>
        <div style="float:right; width:35%" class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div class="form-group">
                    <label  for="group" class="col-md-2 control-label">@CreateGallery.Section</label>
                    <div class="col-md-10">
                        <select id="group" name="Section" class="form-control">
                            @foreach (var item in ViewData["Section"] as IEnumerable<DAL.Context.SectionTranslation>)
                            {
                                <option value="@item.SectionId">@item.Description</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label  for="Date" class="col-md-2 control-label">@CreateGallery.Date</label>
                    <div class="col-md-10">
                        <input name="Date" id="Date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" type="date"  />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2 funkyradio">
                        <div class="checkbox funkyradio-success">
                            <input checked class="active" id="Published" type="checkbox" name="Published" />
                            <label  for="Published">@CreateGallery.Published</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:60%" class="language-tab col-lg-8">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@CreateGallery.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@CreateGallery.Danish</a></li>
            </ul>

            <div class="tab-content ">
                <div id="English" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label  for="Title" class="col-md-2 control-label">@CreateGallery.Title</label>
                            <div class="col-md-10">
                                @*<input name="Title" id="Title" class="form-control"  />*@
                                @Html.TextBoxFor(x=>x.Title, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label  for="Description" class="col-md-2 control-label">@CreateGallery.Description</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            @CreateGallery.Browse @CreateGallery.Image<input type="file" name="file1" id="file1" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label  for="Titledk" class="col-md-2 control-label">@CreateGallery.Title</label>
                            <div class="col-md-10">
                                @*<input asp-for="Titledk" class="form-control" />*@
                                @Html.TextBoxFor(x=>x.Titledk, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label  for="Descriptiondk" class="col-md-2 control-label">@CreateGallery.Description</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Descriptiondk)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            @CreateGallery.Browse @CreateGallery.Image<input type="file" name="file2" id="file2" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div id="GalleryImages" class="gallery-images">
    </div>
    <div style="float:left;" class="form-group">
            <a data-toggle="modal" id="choose-image" data-target="#myModal" class="choose-image">
            </a>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="@CreateGallery.Create @CreateGallery.Gallery" id="create" class="btn btn-success btn-block" />
    </div>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@CreateGallery.File @CreateGallery.Manager</h4>
            </div>
            <div class="modal-body">
                <div id="modelgallery" class="modal-gallery">
                    @foreach (var item in ViewData["Images"] as IEnumerable<DAL.Context.File>)
                    {
                        <a data-dismiss="modal" onclick="createInput(@item.Id,'@item.FileName','@item.Extension')" class="modal-gallery-image">
                            <img src="~/wwwroot/images/standard/@item.FileName@item.Extension" />
                        </a>
                    }
                </div>
                <div class="upload-file">
                    <form>
                        <div style="padding-left:0px" class="modal-footer">
                            <div style="padding-left:0px" class="col-lg-6 col-sm-6 col-12">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            @CreateGallery.Browse<input type="file" id="file" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <button style="float:left" type="button" id="upload" class="btn btn-primary">@CreateGallery.Upload</button>
                        </div>
                    </form>
                    <div id="imgloader" class="loader"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@CreateGallery.Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#upload").click(function () {
            var formData = new FormData();
            formData.append('file', $('#file')[0].files[0]);
            $("#imgloader").show();
            $.ajax({
                url: '/Manage/Gallery/UploadFileAsync',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    $("#imgloader").hide();
                    if (data == "0")
                    {

                    }
                    else
                    {
                       
                        var obj = JSON.parse(data);
                        document.getElementById("modelgallery").innerHTML += "<a  data-dismiss='modal' onclick=\"createInput(" + obj.id + ",'" + obj.name + "','" + obj.extension + "')\" class='modal-gallery-image'><img src='/wwwroot/images/standard/" + obj.name + obj.extension + "'/></a>";
                    }
                }
            });
        });
    });
</script>
<script>
    $(function () {
        $("#Description").ckeditor();
        $("#Descriptiondk").ckeditor();
    });
    var i = 0;
    var publishedimgId = "publishedimg";
    var inputId = "inputid";
    var currentTime = new Date();
    let getFullMonth = function (month) {
        return (month <= 9 ? "0" : "") + month;
    }
    let getFullDay = function (day)
    {
        return (day <= 9 ? "0" : "") + day;
    }
    function createInput(p1,p2,p3)
    {
        var date = currentTime.getFullYear() + '-' + (getFullMonth(currentTime.getMonth() + 1)) + '-' + (getFullDay(currentTime.getDate()));

        document.getElementById('GalleryImages').innerHTML += "<div class='gallery-image " + inputId +"'>"
            + "<div class='choose-image choose-image-photo-gallery'>"
            + "<button id='" + inputId + "' type='button' onclick='drop(this)' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
            + "<img src='/wwwroot/images/standard/" + p2 + p3 + "'/></a>"
            + "</div > "
            + "<input name='GelleryImages' value='" + p1 + "' hidden/>"
            + "<div class='form-group'>"
            + "<input class='form-control " + publishedimgId + "' name='GelleryImagesDate' value='" + date+"' type='date' required= 'required' /></div >"
            + "<div class='form-group' >"
            + "<div class='col-md-offset-2 col-md-10'>"
            + "<div class='checkbox'>"
            + "<input name='GelleryImagesPublished' checked class='active' value='"+p1+"' type='checkbox' id='" + publishedimgId + "' />"
            + " <label for='" + publishedimgId + "'>Published</label>"
            + " </div>"
            + "</div>"
            + "</div>"
            + "</div>";
        publishedimgId = "publishedimg" + i;
        inputId = "inputid" + i;
        i++;
    }
    function drop(e) {
        var ths = e;
        var id = $(e).attr('id');
        $("#GalleryImages").find("." + id).remove();
        $(e).parent().remove();
    }
</script>
