@model IEnumerable<DAL.Context.GalleryGroupTranslate>
@using IdeaCms.Resources
@{
    ViewData["Title"] = GalleryList.Galleries;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<h2>@GalleryList.Galleries @GalleryList.List</h2>
<hr />
<p style="float:left;margin-right:20px;">
    <a class="btn btn-success" href="@Url.Action("createGallery")">@GalleryList.Create @GalleryList.New</a>
</p>
<div class="dropdown" style="float:left;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        @GalleryList.Pages @GalleryList.Category
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("GalleryList", new { id = ""})">@GalleryList.All</a></li>
        @foreach (var item in ViewData["Section"] as IEnumerable<DAL.Context.SectionTranslation>)
        {
            <li><a href="@Url.Action("GalleryList", new { id = item.SectionId})">@item.Name</a></li>
        }
    </ul>
</div>
<table class="table table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>
                @GalleryList.Title
            </th>
            <th>
                @GalleryList.Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.Raw(item.Description)
                </td>
                <td>
                    <a href="@Url.Action("UpdateGallery", new { id = item.GalleryGroupId })" class="btn btn-default" >@GalleryList.Edit</a>
                    <a data-toggle="confirmation" data-title="Are you sure you want to delete record?"
                      href="@Url.Action("DeleteGallery", new { id = item.GalleryGroupId })" class="btn btn-danger">@GalleryList.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
