@model Core.Models.SettingsModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = Settings.Settings_1;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
<h2>@Settings.Update @Settings.Settings_1</h2>

<hr />

<form action=@Url.Action("UpdateSettings") method="post">
    <div class="form-horizontal">
        @for (int i = 0; i < Model.Id.Count(); i++)
        {
            <div id="hidden-inputs">
                <input type="hidden" name="Id" value="@Model.Id[i]" />
            </div>
            if (Model.Html[i] == false)
            {
                <div class="form-group">
                    <label for="@Model.Slug[i]" class="col-md-4 control-label">@Model.Slug[i]</label>
                    <div class="col-md-8">
                        <input name="Value" id="@Model.Slug[i]" class="form-control" value="@Model.Value[i]" />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label for="@Model.Slug[i]" class="col-md-4 control-label">@Model.Slug[i]</label>
                    <div class="col-md-8">
                        <textarea name="Value" id="@Model.Slug[i]" class="form-control Text">@Model.Value[i]</textarea>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $("#@Model.Slug[i]").ckeditor();
                    });
                </script>
            }
        }
        </div>
    <div class="form-group">
        <input type="submit" value="@Settings.Update @Settings.Settings_1" class="btn btn-success btn-block" />
    </div>
</form>