﻿@model SPS.Client.Api.Exceptions.ValidationException

@{
    ViewBag.Title = "Validation Exception";
    Layout = "~/Views/Shared/_NemIdLayoute.cshtml";
}
<div class="row">
    <div class="col s12 center-align"><br/><h3>@ViewBag.Maintitle</h3></div>
</div>
<div class="row">
    <div class="col s12">
        Error: @Model.ErrorMessage<br/>
        Status: @Model.Status<br/>
        User message (if set in response): [@Model.UserMessage]<br/>
        FlowErrorCode: @Model.FlowErrorCode
    </div>
</div>