@{
    DAL.Context.InfoTranslation Contact = ViewData["ContactPage"] as DAL.Context.InfoTranslation;
    if(Contact!=null)
    {
        ViewData["Title"] = Contact.Title;
    }
    if(TempData["Settings"]!=null)
    {
        var settings = TempData["Settings"] as List<DAL.Context.Settings>;
    }
    Layout = "~/Views/Shared/_WebLayoute.cshtml";
    DAL.Context.Translation translation = TempData["Translate"] as DAL.Context.Translation;
}
@if (Contact!= null)
{
<section class="container-fluid section contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-1 section-icon">
            <span class="icon icon-news pull-right"></span>
        </div>
        <div class="col-xs-10 col-sm-11 section-header">
            <h2>@Contact.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
            <div class="section-content">
                <div class="section-content-news">
                    <div class="container-fluid inner-page">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Raw(Contact.Content)
                            </div>
                            <div class="col-md-3">
                                <div class="contact-information">
                                    <h4>@translation.ContactInfo</h4>
                                    <ul class="contact-information-list">
                                        <li><span><i class="fa fa-home"></i>@Html.Raw(Contact.Description)</span></li>
                                        <li><span><i class="fa fa-phone"></i>@Contact.Url</span></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i>@Contact.Thumbnail</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="contact-information">
                                    <h3>&nbsp;</h3>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h4></h4>
                                <form style="position:relative" id="contact-form" class="contact-work-form2">

                                    <div class="text-input">
                                        <div class="float-input">
                                            <input class="form-control" name="name" id="name2" type="text" placeholder="@translation.Name">
                                            <span><i class="fa fa-user"></i></span>
                                        </div>

                                        <div class="float-input">
                                            <input class="form-control" name="email" id="mail2" type="text" placeholder="@translation.Email">
                                            <span><i class="fa fa-envelope"></i></span>
                                        </div>
                                    </div>

                                    <div class="float-input">
                                        <textarea class="form-control" name="message" id="comment2" placeholder="@translation.Message"></textarea>
                                        <span><i class="fa fa-comment"></i></span>
                                    </div>

                                    <div class="msg2 message"></div>
                                    <input type="button" name="action" accept="action" id="send" class="submit_contact main-form" value="@translation.Send">

                                    <div class="alert alert-warning" style="display:none" role="alert">
                                        <strong>Warning!</strong> <span id="warningMessage"></span>
                                    </div>
                                    <div class="alert alert-danger" style="display:none" role="alert">
                                        <strong>Error! </strong><span id="dangerMessage"></span>
                                    </div>
                                    <div class="alert alert-success" style="display:none" role="alert">
                                        <strong>Error! </strong><span id="dangerMessage"></span>
                                    </div>
                                    <div id="loader" class="loader"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#send').click(function () {
            $('.alert-warning').hide();
            $('.alert-danger').hide();
            $('.alert-success').hide();
            $("#loader").show();
            var Name = $('#name2').val();
            var Email = $('#mail2').val();
            var Body = $('#comment2').val();
            if (Email == '' || Name == '' || Body == '') {
                $('#warningMessage').html("@translation.EmailEmpty");
                $('.alert-warning').show();
                $('.alert-danger').hide();
                $("#loader").hide();
            }
            else {
                $.ajax({
                    url: '/Manage/Web/SendMail',
                    type: 'post',
                    data: { "Email": Email,"Name":Name,"Body":Body},
                    success: function (response) {
                        if (response == "0") {
                            $("#loader").hide();
                            $('#email').val('');
                            $('.alert-success').html("Your message has been successfully sent");
                            $('.alert-success').show();
                        }
                        else if (response == "1") {
                            $("#loader").hide();
                            $('.alert-danger').show();
                            $('.alert-warning').hide();
                            $('#dangerMessage').html("@translation.ErrorTitle");
                        }
                    }
                });
            }
        });
    });

</script>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&key=AIzaSyA7Lq9owRxFAIfkoJhFuIgcU_-56uNhg1Y"></script>
<script type="text/javascript">

function initialize() {
	  var mapOptions = {
		zoom: 15,
		center: new google.maps.LatLng(@Contact.Info.Lat, @Contact.Info.Lng),
		scrollwheel:false
	  }
	  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

	  setMarkers(map, beaches);
	}

	var beaches = [[@Contact.Info.Lat, @Contact.Info.Lng,'@translation.ContactInfo',1]];

function setMarkers(map, locations) {

	  var image = {
		url: 'img/pin.png'
	  };
	  //var infoWindow = new google.maps.InfoWindow();
  	var infowindow = new google.maps.InfoWindow({
            content: ""
        });

	  for (var i = 0; i < locations.length; i++) {
		var beach = locations[i];
		var myLatLng = new google.maps.LatLng(beach[0], beach[1]);
		var marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
			//icon: image,
			title: beach[2],
			zIndex: 99
		});
		//bindInfoWindow(marker, map, infowindow, document.getElementById('item_'+beach[3]).innerHTML);

		google.maps.event.addListener(map, 'click', function(event){
			  this.setOptions({scrollwheel:true});
			});

	  }
	}


function bindInfoWindow(marker, map, infowindow, strDescription) {

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(strDescription);
        infowindow.open(map, marker);
    });
}
	google.maps.event.addDomListener(window, 'load', initialize);


</script>

}