@{
    DAL.Context.Translation translation = TempData["Translate"] as DAL.Context.Translation;
    ViewData["Title"] = translation.WebsiteTitle;
    Layout = "~/Views/Shared/_WebLayoute.cshtml";

    IEnumerable<DAL.Context.InfoTranslation> TextPages = ViewData["TextPage"] as IEnumerable<DAL.Context.InfoTranslation>;
    IEnumerable<DAL.Context.InfoTranslation> PostPages = ViewData["PostPage"] as IEnumerable<DAL.Context.InfoTranslation>;
    IEnumerable<DAL.Context.InfoTranslation> SlidePostPages = ViewData["SliderPostPages"] as IEnumerable<DAL.Context.InfoTranslation>;
    List<DAL.Context.SectionTranslation> sections = ViewData["Sections"] as List<DAL.Context.SectionTranslation>;
    List<int> middleMenues = ViewData["MiddleMenuItems"] as List<int>;
    string href = "home_";
    int hrefId1 = 6;
    string active = "active";
}
@foreach (var item in sections)
{
    if (middleMenues.Contains(item.SectionId))
    {
        if (TextPages.Select(x => x.Info.SectionId).Contains(item.SectionId))
        {
            <section id="@href@hrefId1.ToString()" class="container-fluid section">
                <div class="row">
                    <div class="col-xs-2 col-sm-1">
                        <span class="icon pull-right @item.Sections.icon"></span>
                    </div>
                    <div class="col-xs-10 col-sm-11 section-header">
                        <h2> @TextPages.Where(z => z.Info.SectionId == item.SectionId).FirstOrDefault().Title;</h2>
                    </div>
                </div>
                @if (TextPages.Where(z => z.Info.SectionId == item.SectionId).FirstOrDefault().FileId != null)
                {
                    <div class="row">
                        <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                            <div class="section-content">
                                <div class="section-content-guide">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-12 animation-wrap">
                                                <div class="slider">
                                                    <div class="slide-content">
                                                        <ul class="slides" style="left:-0px">
                                                            @if (TextPages.Where(z => z.Info.SectionId == item.SectionId).FirstOrDefault().File != null)
                                                            {
                                                                <li data-step="1" class="active">
                                                                    <a href="/wwwroot/images/default/@TextPages.Where(z => z.Info.SectionId == item.SectionId).FirstOrDefault().File.FileName@TextPages.Where(z => z.Info.SectionId == item.SectionId).FirstOrDefault().File.Extension" class="fancy"><img src="~/wwwroot/images/standard/@TextPages.Where(z => z.Info.SectionId == item.SectionId).FirstOrDefault().File.FileName@TextPages.Where(z => z.Info.SectionId == item.SectionId).FirstOrDefault().File.Extension" alt=" @item.Description"></a>
                                                                </li>
                                                            }
                                                            @foreach (var slideritem in ViewData["SliderBanner"] as List<DAL.Context.BannerTranslation>)
                                                            {
                                                                int i = 1;
                                                                if (slideritem.File != null)
                                                                {
                                                                    <li data-step="@(++i)">
                                                                        <a href="/wwwroot/images/default/@slideritem.File.FileName@slideritem.File.Extension" class="fancy"><img src="~/wwwroot/images/standard/@slideritem.File.FileName@slideritem.File.Extension" alt=" @slideritem.Title"></a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">

                    <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
                        <div class="section-content">
                            <div class="section-content-text">
                                <span class="content-text"><p>@Html.Raw(TextPages.Where(z => z.Info.SectionId == item.SectionId).FirstOrDefault().Description)</p></span>
                                <a class="content-text" href="/@ViewBag.Language/@TextPages.Where(z => z.Info.SectionId == item.SectionId).FirstOrDefault().Slug">@translation.ReadMore</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else if (SlidePostPages.Select(x => x.Info.SectionId).Contains(item.SectionId))
        {
            <section id="@href@hrefId1.ToString()" class="container-fluid section">
                <div class="row">
                    <div class="col-xs-2 col-sm-1 section-icon">
                        <span class="icon @item.Sections.icon pull-right"></span>
                    </div>
                    <div class="col-xs-10 col-sm-11 section-header">
                        <h2>@item.Name</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
                        <div class="section-content">
                            <div class="section-content-text">
                                <span class="content-text">@translation.StudySponsored</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-content">
                        <div class="section-content-carousel">
                            <div id="myCarousel" class="carousel slide text-center" data-ride="false">
                                <div class="carousel-inner" role="listbox">
                                    @foreach (var postItem in SlidePostPages.Where(x => x.Info.SectionId == item.SectionId))
                                        {
                                            <div class="item @active">
                                                <div class="carousel-content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            @if(postItem.File != null)
                                                            {
                                                            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-3">
                                                                <img src="~/wwwroot/images/standard/@postItem.File.FileName@postItem.File.Extension">
                                                            </div>
                                                            }
                                                            <div class="col-xs-12 col-sm-9">
                                                                <h3>@postItem.Title</h3>
                                                                <span><p>@Html.Raw(postItem.Description)</p></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            active = "";
                                    }
                                </div>
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                    <span class="sr-only">@translation.Back</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                    <span class="sr-only">@translation.Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        hrefId1++;
    }
}
<section id="home_" class="container-fluid section">
    <div class="row">
        <div class="col-xs-2 col-sm-1 section-icon">
            <span class="icon icon-news pull-right"></span>
        </div>
        <div class="col-xs-10 col-sm-11 section-header">
            <h2>@translation.LatestNews</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
            <div class="section-content">
                <div class="section-content-news">
                    <div class="container-fluid">
                        @foreach (var item in PostPages)
                        {
                                <div class="row">
                                    <div class="col-xs-8 col-sm-offset-0 col-sm-3">
                                        @if (item.File != null)
                                        {
                                            <a href="/@ViewBag.Language/@item.Slug">
                                                <img src="/wwwroot/images/standard/@item.File.FileName@item.File.Extension" alt="@item.Title">
                                            </a>
                                        }
                                        
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="news-content">
                                            <h3>@item.Title</h3>
                                            <span class="content-text">@Html.Raw(item.Description)</span>
                                            <a class="content-text" href="/@ViewBag.Language/@item.Slug">@translation.ReadMore</a>
                                        </div>
                                    </div>
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
