@{

    IEnumerable<DAL.Context.GalleryGroupTranslate> galleries = ViewData["Galleries"] as IEnumerable<DAL.Context.GalleryGroupTranslate>;
    if(ViewBag.infoSlug!=null)
    {
        ViewData["Title"] = galleries.Where(x => x.GalleryGroupId == Convert.ToInt32(ViewBag.infoSlug)).FirstOrDefault().Title;
    }
    else
    {
        ViewData["Title"] = ViewBag.PhotoGallery;
    }
    Layout = "~/Views/Shared/_WebLayoute.cshtml";
    DAL.Context.Translation translation = TempData["Translate"] as DAL.Context.Translation;
    int step = 1;
    var gellery = galleries.Where(x => x.GalleryGroupId == Convert.ToInt32(ViewBag.infoSlug)).FirstOrDefault();
}

@if (ViewBag.structureSlug != null && ViewBag.infoSlug != null)
{
    <!-- Container -->
    <section id="news" class="container-fluid section">
        <div class="row">
            <div class="col-xs-2 col-sm-1 section-icon">
                <span class="icon icon-news pull-right"></span>
            </div>
            <div class="col-xs-10 col-sm-11 section-header">
                <h2><a href="/@ViewBag.Language/@ViewBag.structureSlug">@ViewBag.StructureSlug</a> | @( gellery !=null ? gellery.Title : "")</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
                <div class="section-content">
                    <div class="section-content-news">
                        <div class="container-fluid inner-page">
                            <div class="row">
                                <p><i></i></p>
                                <ul class="post-gallery">
                                    <li data-step="@step" class="col-xs-12">
                                        <div class="col-xs-10" style="padding:0px;">
                                            <a data-size="" href="/wwwroot/images/default/@gellery.thumbnail" class="fancy">
                                                <img src="~/wwwroot/images/default/@gellery.thumbnail">
                                            </a>
                                        </div>
                                    </li>
                                    @foreach (var item in galleries.Where(z => z.GalleryGroupId == Convert.ToInt32(ViewBag.infoSlug)).Select(x => x.GalleryGroup.Gallery.Where(z => z.Display == true)).FirstOrDefault())
                                    {
                                            if (item.File != null)
                                            {
                                                @*<a class="fancybox" data-fancybox-group="gallery" href="~/wwwroot/images/default/@item.File.FileName@item.File.Extension">
                                                    <img class="img-responsive" src="~/wwwroot/images/standard/@item.File.FileName@item.File.Extension" alt="@(item.GalleryGroup.GalleryGroupTranslate.Where(x=>x.Language.Name==ViewBag.Language).FirstOrDefault().Title!=null?item.GalleryGroup.GalleryGroupTranslate.Where(x=>x.Language.Name==ViewBag.Language).FirstOrDefault().Title:"")" />
                                                </a>*@
                                                <li data-step="@step" class="col-xs-3">
                                                    <a data-size="" href="/wwwroot/images/default/@item.File.FileName@item.File.Extension" class="fancy">
                                                        <img src="~/wwwroot/images/standard/@item.File.FileName@item.File.Extension" alt="@(item.GalleryGroup.GalleryGroupTranslate.Where(x=>x.Language.Name==ViewBag.Language).FirstOrDefault().Title!=null?item.GalleryGroup.GalleryGroupTranslate.Where(x=>x.Language.Name==ViewBag.Language).FirstOrDefault().Title:"")">
                                                    </a>
                                                </li>
                                                step++;
                                            }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (ViewBag.structureSlug != null)
{
    <section id="news" class="container-fluid section">
        <div class="row">
            <div class="col-xs-2 col-sm-1 section-icon">
                <span class="icon icon-news pull-right"></span>
            </div>
            <div class="col-xs-10 col-sm-11 section-header">
                <h2>@ViewBag.PhotoGallery</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
                <div class="section-content">
                    <div class="section-content-news">
                        <div class="container-fluid inner-page">
                            <div class="row gallery">
                                @foreach (var item in galleries)
                                {
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <a class="thumbnail" href="/@ViewBag.Language/@ViewBag.structureSlug/@item.GalleryGroupId">
                                            <img class="img-responsive" src="~/wwwroot/images/standard/cover/@item.thumbnail" alt="@item.Title">
                                            <div class="description">
                                                <h3>@Html.Raw(item.Description)</h3>
                                                <date><i class="fa fa-clock-o"></i>@item.GalleryGroup.Date</date>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
