@using IdeaCms.Models
@model PaginatedList<DAL.Context.InfoTranslation>
@{
    IEnumerable<DAL.Context.InfoTranslation> PostPages = ViewData["PostPage"] as IEnumerable<DAL.Context.InfoTranslation>;
    Layout = "~/Views/Shared/_WebLayoute.cshtml";
    DAL.Context.Translation translation = TempData["Translate"] as DAL.Context.Translation;
}
<!-- Container -->

@if (ViewBag.infoSlug != null && ViewBag.structureSlug != null)
{
    <section id="news" class="container-fluid section">
        <div class="row">
            <div class="col-xs-2 col-sm-1 section-icon">
                <span class="icon icon-news pull-right"></span>
            </div>
            <div class="col-xs-10 col-sm-11 section-header">
                <h2><a href="/@ViewBag.Language/@ViewBag.structureSlug">@ViewBag.structureSlug</a> | @ViewData["Title"]</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
                <div class="section-content">
                    <div class="section-content-news">
                        <div class="container-fluid inner-page">
                            <div class="row">
                                <p><i>@PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().Info.StartDate.ToString()</i></p>
                                <div class="col-xs-8 col-sm-offset-0 col-sm-3">
                                </div>
                                <p>@Html.Raw(PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().Description)</p>
                                <ul class="post-gallery">
                                    <li class="active col-xs-3">
    @if (PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File != null)
    {
                                            <a data-size="" href="~/wwwroot/images/default/@PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.FileName@PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.Extension" class="fancy">
                                                <img src="~/wwwroot/images/standard/@PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.FileName@PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.Extension">
                                            </a>
    }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (ViewBag.infoSlug != null)
{
    <section id="news" class="container-fluid section">
        <div class="row">
            <div class="col-xs-2 col-sm-1 section-icon">
                <span class="icon icon-news pull-right"></span>
            </div>
            <div class="col-xs-10 col-sm-11 section-header">
                <h2><a href="/@ViewBag.Language/@ViewBag.structureSlug">@ViewBag.structureSlug</a> | @ViewData["Title"]</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
                <div class="section-content">
                    <div class="section-content-news">
                        <div class="container-fluid inner-page">
                            <div class="row">
                                <p><i>@PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().Info.StartDate.ToString()</i></p>
                                <div class="col-xs-8 col-sm-offset-0 col-sm-3">
                                </div>
                                <p>@Html.Raw(PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().Description)</p>
                                <ul class="post-gallery">
                                    <li class="active col-xs-3">
                                        @if (PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File != null)
                                        {
                                            <a data-size="" href="~/wwwroot/images/default/@PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.FileName@PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.Extension" class="fancy">
                                                <img src="~/wwwroot/images/standard/@PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.FileName@PostPages.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.Extension">
                                            </a>
                                        }
                                       
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (ViewBag.structureSlug != null)
{
    <section id="news" class="container-fluid section">
        <div class="row">
            <div class="col-xs-2 col-sm-1 section-icon">
                <span class="icon icon-news pull-right"></span>
            </div>
            <div class="col-xs-10 col-sm-11 section-header">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
                <div class="section-content">
                    <div class="section-content-news">
                        <div class="container-fluid">
                            @foreach (var item in Model.Where(x=>x.Info.Sections.Slug == ViewBag.structureSlug))
                            {
                                <div class="row">
                                    <div class="col-xs-8 col-sm-offset-0 col-sm-3">
                                        @if (item.File != null)
                                        {
                                            <a href="/@ViewBag.Language/@ViewBag.structureSlug/@item.Slug">
                                                <img src="~/wwwroot/images/standard/@item.File.FileName@item.File.Extension" alt="@item.Title" />
                                            </a>
                                        }
                                        
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="news-content">
                                            <h3><a href="/@ViewBag.Language/@ViewBag.structureSlug/@item.Slug">@item.Title</a></h3>
                                            <span class="content-text">@Html.Raw(item.Description)</span>
                                            <a class="content-text" href="/@ViewBag.Language/@ViewBag.structureSlug/@item.Slug">@translation.ReadMore</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            <ul class="pagination-list"></ul>
                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }
                            <a 
                               href="@Url.Action("Index",new { ortOrder = ViewData["CurrentSort"], page = Model.PageIndex - 1 , currentFilter = ViewData["CurrentFilter"] })"
                             
                               class="btn btn-default @prevDisabled">
                                @translation.Back
                            </a>
                            <a 
                                href="@Url.Action("Index",new { ortOrder = ViewData["CurrentSort"], page = Model.PageIndex + 1 , currentFilter = ViewData["CurrentFilter"] })"
                               class="btn btn-default @nextDisabled">
                                @translation.Next
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

