@{
    IEnumerable<DAL.Context.InfoTranslation> publications = ViewData["Publications"] as  IEnumerable<DAL.Context.InfoTranslation>;
    Layout = "~/Views/Shared/_WebLayoute.cshtml";
    DAL.Context.Translation translation = TempData["Translate"] as DAL.Context.Translation;
}
@if (ViewBag.structureSlug != null)
{
<section id="news" class="container-fluid section">
    <div class="row">
        <div class="col-xs-2 col-sm-1 section-icon">
            <span class="icon icon-news pull-right"></span>
        </div>
        <div class="col-xs-10 col-sm-11 section-header">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
            <div class="section-content">
                <div class="section-content-news">
                    <div class="container-fluid inner-page">
                        <div class="row publications">
                            @foreach (var item in publications)
                            {
                                <div class="col-xl-2 col-lg-2 col-md-3  col-sm-4 col-xs-6 thumb">
                                    @if (item.Info.InfoFiles !=null)
                                    {
                                        <a href="~/wwwroot/Uploads/@item.Info.InfoFiles.Name@item.Info.InfoFiles.extension" target="@item.">
                                            @if (item.File != null)
                                            {
                                                <img src="~/wwwroot/images/standard/@item.File.FileName@item.File.Extension" alt="" />
                                            }

                                            <div><h6>@item.Title</h6></div>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@item.Url" target="_blank">
                                            @if (item.File != null)
                                            {
                                                <img src="~/wwwroot/images/standard/@item.File.FileName@item.File.Extension" alt="" />
                                            }

                                            <div><h6>@item.Title</h6></div>
                                        </a>

                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}