﻿@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_WebLayoute.cshtml";
    DAL.Context.Translation translation = TempData["Translate"] as DAL.Context.Translation;
    IEnumerable<DAL.Context.InfoTranslation> TextPages = ViewData["TextPage"] as IEnumerable<DAL.Context.InfoTranslation>;
    List<DAL.Context.SectionTranslation> Sections = ViewData["Sections"] as List<DAL.Context.SectionTranslation>;
    List<DAL.Context.DiseaseTranslation> Diseases = ViewData["diseases"] as List<DAL.Context.DiseaseTranslation>;
    List<DAL.Context.InfoAdditionalTranslate> questionnaire = ViewData["questionnaire"] as List<DAL.Context.InfoAdditionalTranslate>;
    int id = 1;
}
<style>

    #getcode {
        padding: 9px;
        border: 2px solid #a0a1a2;
        border-left: none;
        font-size: 14px;
    }
</style>
<section id="registration" class="container-fluid section">
    <form id="registration-form" action="en-US/Registration" method="post" autocomplete="off">
        <input type="hidden" id="mobile-format" value="">
        @foreach (var item in Sections)
        {
            if (item.Sections.TypeId == 2)
            {
                if (item.Sections.Style == 2)
                {
                    foreach (var questItem in TextPages.Where(x => x.Info.SectionId == item.SectionId && x.Info.Published == true).ToList())
                    {
                        <div data-step="3" class="section-content registration-step  row">
                            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                <div class="row">
                                    <h1>@questItem.Title</h1>
                                    @Html.Raw(questItem.Content)
                                </div>
                            </div>
                        </div>

                    }
                }
                if (item.Sections.Style == 3)
                {
                    var consent = TextPages.Where(x => x.Info.SectionId == item.SectionId && x.Info.Published == true).FirstOrDefault();
                    <div data-step="disease" class="section-content registration-step row">
                        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                            @if (consent != null)
                            {
                                <div class="row">
                                    <h1>@consent.Title</h1>
                                    @Html.Raw(consent.Content)
                                    <div class="form-inline row">
                                        <div class="form-group">
                                            <div class="checkbox-inline">
                                                <input id="HavePrioritzedDiseases" type="checkbox" value="true" name="HavePrioritzedDiseases">
                                                <label for="HavePrioritzedDiseases"><span></span>@translation.NoDisease</label>
                                            </div>
                                        </div>
                                        <div id="diseasesListContainer" data-error="@translation.DiseaseError">
                                            <div id="selectedDiseasesContainer"></div>
                                            <div class="form-group">
                                                <select id="diseasesSelect" name="disease" class="form-control combobox">
                                                    <option disabled selected value="0"> -- @translation.SelectDisease -- </option>
                                                    @foreach (var disease in Diseases)
                                                    {
                                                        <option value="@disease.DiseaseId">@disease.Title</option>
                                                    }
                                                </select>
                                                <button id="addDiseaseButton" class="btn btn-link">@translation.Add</button>
                                            </div>
                                            <div class="add-nlisted-disease-wrap selected-disease">
                                                <div class="form-group unlisted-disease">
                                                    <div class="input-group">
                                                        <input type="text" value="" placeholder="Insert Unlisted Disease" class="form-control">
                                                    </div>
                                                    <button id="addNotListedDiseaseButton" class="btn btn-link">@translation.Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <input type="hidden" name="nemid" id="nemid" value="">
                            <input type="hidden" name="AuthenticationInfo" id="AuthenticationInfo" value="" />

                            <input type="hidden" name="contactinfo_optional" value="2">
                            <input type="hidden" id="unknown_error" value="There was an error try again">
                            <input type="hidden" id="Id" value="" />
                            <div class="row" id="contact-info-optional">
                                <h1>@translation.ContactInfo</h1>
                                <div class="row">
                                    <div class="form-horizontal col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="email">@translation.Email<span class="message">@translation.EmailFormatError</span></label>
                                            <input id="email" type="text" data-error="@translation.EmailNotify" data-error-empty="@translation.EmailEmpty" data-attach="emailAgain" name="email" class="form-control email-check">
                                        </div>
                                        <div class="form-group">
                                            <label for="emailAgain">@translation.EmailAgain<span class="message">@translation.EmailDoesntMatch1</span></label>
                                            <input id="emailAgain" data-attach="email" type="text" name="emailAgain" data-error="@translation.RepeatEmail" class="form-control email-check">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">@translation.Phone<span class="message">@translation.PhoneError</span></label>
                                            <input id="phone" type="number" data-error="@translation.PhoneEmpty" data-error-empty="@translation.PhoneEmpty" data-attach="phoneAgain" name="phone" class="form-control phone-check">
                                        </div>
                                        <div class="form-group">
                                            <label for="phoneAgain">@translation.PhoneAgain<span class="message">@translation.PhoneDoesntMatch</span></label>
                                            <input id="phoneAgain" type="number" data-attach="phone" name="phoneAgain" data-error-empty="@translation.PhoneEmpty" data-error="@translation.PhoneAgain" class="form-control phone-check">
                                        </div>
                                    </div>
                                </div>
                                <h1>@translation.StoreboxAccount</h1>
                                <div class="row">
                                    <div class="form-horizontal col-xs-12">
                                        <div class="form-group">
                                            <div class="radio-inline">
                                                <input id="isStoreboxAccountY" type="radio" name="isStoreboxAccount" value="1" checked />
                                                <label for="isStoreboxAccountY"><span></span>@translation.Yes</label>
                                            </div>
                                        </div>
                                        <div id="storeboxAccount" class="row">
                                            <div class="form-group col-xs-12">
                                                <div class="checkbox-inline">
                                                    <input id="isSome" type="checkbox" value="1" name="isSome" />
                                                    <label for="isSome"><span></span>@translation.SameAsAbove</label>
                                                </div>
                                            </div>
                                            <div id="storeboxAccountInfo" class="col-xs-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="storeboxEmail">@translation.StoreboxEmail<span class="message">@translation.EmailFormatError</span></label>
                                                    <input id="storeboxEmail" data-error="@translation.StoreboxEmptyEmail" data-attach="storeboxEmailAgain" type="text" name="storeboxEmail" class="form-control email-check">
                                                </div>
                                                <div class="form-group">
                                                    <label for="storeboxEmailAgain">@translation.StoreboxEmailAgain<span class="message">@translation.EmailDoesntMatch1</span></label>
                                                    <input id="storeboxEmailAgain" data-error="@translation.RepeatEmail" data-attach="storeboxEmail" type="text" name="storeboxEmailAgain" class="form-control email-check">
                                                </div>
                                                <div class="form-group">
                                                    <label for="storeboxPhone">@translation.StoreboxTel<span class="message">@translation.PhoneError</span></label>
                                                    <input id="storeboxPhone" data-error="@translation.StoreboxUniquePhone" data-attach="storeboxPhoneAgain" type="number" name="storeboxPhone" class="form-control phone-check">
                                                </div>
                                                <div class="form-group">
                                                    <label for="storeboxPhoneAgain">@translation.StoreboxTelAgain<span class="message">@translation.PhoneDoesntMatch</span></label>
                                                    <input id="storeboxPhoneAgain" data-error="@translation.StoreboxTelAgain" data-attach="storeboxPhone" type="number" name="storeboxPhoneAgain" class="form-control phone-check">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="radio-inline">
                                                <input id="isStoreboxAccountN" type="radio" name="isStoreboxAccount" value="0" />
                                                <label for="isStoreboxAccountN"><span></span>@translation.No</label>
                                            </div>
                                            <p>@translation.StoreboxEmailNotification.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1>@translation.Consent</h1>
                            <div class="row">
                                <input name="terms_validation_text" type="hidden" value="@translation.PleaseAcceptConditions" />
                                @if (!string.IsNullOrEmpty(translation.ParticipateText))
                                {
                                    <div class="form-group">
                                        <div class="checkbox-inline">
                                            <input id="Participate_text" type="checkbox" name="Participate_text" value="true" />
                                            <label for="Participate_text"><span></span>@translation.ParticipateText</label>
                                        </div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(translation.AcceptText))
                                {
                                    <div class="form-group">
                                        <div class="checkbox-inline">
                                            <input type="hidden" name="acceptDedidentifedDataAccessed" value="false">
                                            <input id="acceptDedidentifedDataAccessed" type="checkbox" name="acceptDedidentifedDataAccessed" value="true" />
                                            <label for="acceptDedidentifedDataAccessed"><span></span>@translation.AcceptText</label>
                                        </div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(translation.ContactMe))
                                {
                                    <div class="form-group">
                                        <div class="checkbox-inline">
                                            <input type="hidden" name="contatMeIfProjectExpanded" value="false">
                                            <input id="contatMeIfProjectExpanded" type="checkbox" name="contatMeIfProjectExpanded" value="true" />
                                            <label for="contatMeIfProjectExpanded"><span></span>@translation.ContactMe</label>
                                        </div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(translation.NewslatterText))
                                {
                                    <div class="form-group">
                                        <div class="checkbox-inline">
                                            <input type="hidden" name="sendNewsletters" value="false">
                                            <input id="sendNewsletters" type="checkbox" name="sendNewsletters" value="true" />
                                            <label for="sendNewsletters"><span></span>@translation.NewslatterText</label>
                                        </div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(translation.StoreboxConsentWithField))
                                {
                                    <div class="form-group">
                                        <div class="checkbox-inline">
                                            <input type="hidden" name="StoreboxConsentWithField" value="false">
                                            <input id="StoreboxConsentWithField" type="checkbox" name="StoreboxConsentWithField" value="true" />
                                            <label for="StoreboxConsentWithField">
                                                <span></span>@translation.StoreboxConsentWithField
                                                <input id="StoreboxConsentWithField_Field" type="text" name="StoreboxConsentWithField_Field" style="height:30px;vertical-align:bottom;font-size:18px"/>
                                            </label>
                                        </div>
                                    </div>
                                }
                                @*@if (!string.IsNullOrEmpty(translation.StoreboxConsentWithoutField))
                                {
                                    <div class="form-group">
                                        <div class="checkbox-inline">
                                            <input type="hidden" name="StoreboxConsentWithoutField" value="false">
                                            <input id="StoreboxConsentWithoutField" type="checkbox" name="StoreboxConsentWithoutField" value="true" />
                                            <label for="StoreboxConsentWithoutField"><span></span>@translation.StoreboxConsentWithoutField</label>
                                        </div>
                                    </div>
                                }*@

                            </div>
                            <div class="row" id="nemid-frame" style="display:none">
                                <iframe id="FrameId" src="@Url.Action("Logon", "DenskId")" width="220" height="300" border="0" style="line-height: 1.0; border: none; margin: 0; padding: 0; overflow: hidden;" scrolling="no"></iframe>
                            </div>
                            <button data-error="@translation.VerifyNemid" id="submit_nemid" class="btn btn-link btn-submit">@translation.SignNemid</button>
                            <div class="last row" style="display:none;">
                                <div class="col col-sm-6">
                                    <div class="form-group">
                                        <label>@translation.Email </label>
                                        <input type="text" class="form-control" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label>@translation.ValidationCode </label>
                                        <input type="text" class="form-control" name="validation_code">
                                    </div>
                                    <input type="submit" class="btn btn-link" value="Submit">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                if (item.Sections.Style == 4)
                {
                    <div data-step="final" class="section-content registration-step row">
                        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                            <div class="row">
                                <div class="additional">
                                    <div class="row">
                                        <div class="col col-sm-6">
                                            <div class="alert alert-warning alert-dismissible account-doesnt-exists" style="display:none">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                @translation.MessageIfStoreboxDoesntAccountExists
                                            </div>
                                            <div class="alert alert-info alert-dismissible account-exists" style="display:none">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                @translation.MessageIfStoreboxAccountExists
                                            </div>
                                            <div class="form-group">
                                                <label style="font-size:16px">@translation.StorboxAccountId </label>
                                                @*<div class="input-group">*@
                                                <input type="text" class="form-control" name="storbox_account_id">
                                                @*<span class="input-group-btn">
                                                        <button id="getcode" class="btn btn-default" type="button">@translation.GetValidationCode</button>
                                                    </span>*@
                                                @*</div>*@
                                            </div>
                                            <div class="form-group">
                                                <label style="font-size:16px">@translation.ValidationCode </label>
                                                <input type="text" class="form-control" name="validation_code">
                                            </div>
                                            <input type="hidden" name="code" value="" />
                                        </div>
                                    </div>
                                    <input type="button" id="additionalInfo" value="Submit" class="btn btn-link">
                                </div>
                                @foreach (var questItem in TextPages.Where(x => x.Info.SectionId == item.SectionId && x.Info.Published == true).ToList())
                                {
                                    <h1>@questItem.Title</h1>
                                    @Html.Raw(questItem.Content)
                                }
                            </div>
                        </div>
                    </div>
                }
                if (item.Sections.Style == 5)
                {
                    foreach (var questItem in TextPages.Where(x => x.Info.SectionId == item.SectionId && x.Info.Published == true).ToList())
                    {
                        <div data-step="4" class="section-content registration-step  row">
                            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                                <div class="row">
                                    <h1>@questItem.Title</h1>
                                    <div class="row">
                                        <div class="col-sm-12 animation-wrap">
                                            <div class="slider">
                                                <div class="slide-content">
                                                    <ul class="slides" style="left:-0px">
                                                        @foreach (var slideritem in ViewData["SliderBanner"] as List<DAL.Context.BannerTranslation>)
                                                        {
                                                            if (slideritem.File != null)
                                                            {
                                                                <li data-step="1" class="active">
                                                                    <a href="/wwwroot/images/standard/@slideritem.File.FileName@slideritem.File.Extension" class="fancy"><img src="~/wwwroot/wwwroot/images/standard/@slideritem.File.FileName@slideritem.File.Extension" alt=" @slideritem.Title"></a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @Html.Raw(questItem.Content)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div data-step="questionnaire" class="section-content registration-step row" data-success="@translation.QuestionnaireSuccess" data-warning="@translation.CheckQuestionarie" data-error="@translation.QuestionError">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                        <div class="row">
                            <h1>@item.Sections.SectionTranslation.Where(x => x.Language.Name == ViewBag.Language).FirstOrDefault().Name</h1>
                            @foreach (var questItem in questionnaire.Where(x => x.InfoAdditional.Info.SectionId == item.SectionId).ToList())
                            {
                                <div class="row type-21 required" data-name="radio_@questItem.Id">
                                    <p>@questItem.Question</p>
                                    @if (questItem.Param_1 != null)
                                    {
                                        <div class="form-group">
                                            <div class="radio-inline">
                                                @if (questItem.Value == "1")
                                                {
                                                    <input id="@questItem.Id@id" data-correct="1" type="radio" name="radio_@questItem.Id" value="@id">
                                                }
                                                else
                                                {
                                                    <input id="@questItem.Id@id" data-correct="" type="radio" name="radio_@questItem.Id" value="@id">
                                                }
                                                <label for="@questItem.Id@id"><span></span>@questItem.Param_1</label>
                                            </div>
                                        </div>
                                        id++;
                                    }
                                    @if (questItem.Param_2 != null)
                                    {
                                        <div class="form-group">
                                            <div class="radio-inline">
                                                @if (questItem.Value == "2")
                                                {
                                                    <input id="@questItem.Id@id" data-correct="1" type="radio" name="radio_@questItem.Id" value="@id">
                                                }
                                                else
                                                {
                                                    <input id="@questItem.Id@id" data-correct="" type="radio" name="radio_@questItem.Id" value="@id">
                                                }
                                                <label for="@questItem.Id@id"><span></span>@questItem.Param_2 </label>
                                            </div>
                                        </div>
                                        id++;
                                    }
                                    @if (questItem.Param_3 != null)
                                    {
                                        <div class="form-group">
                                            <div class="radio-inline">
                                                @if (questItem.Value == "3")
                                                {
                                                    <input id="@questItem.Id@id" data-correct="1" type="radio" name="radio_@questItem.Id" value="@id">
                                                }
                                                else
                                                {
                                                    <input id="@questItem.Id@id" data-correct="" type="radio" name="radio_@questItem.Id" value="@id">
                                                }
                                                <label for="@questItem.Id@id"><span></span>@questItem.Param_3</label>
                                            </div>
                                        </div>
                                        id++;
                                    }
                                    @if (questItem.Param_4 != null)
                                    {
                                        <div class="form-group">
                                            <div class="radio-inline">
                                                @if (questItem.Value == "4")
                                                {
                                                    <input id="@questItem.Id@id" data-correct="1" type="radio" name="radio_@questItem.Id" value="@id">
                                                }
                                                else
                                                {
                                                    <input id="@questItem.Id@id" data-correct="" type="radio" name="radio_@questItem.Id" value="@id">
                                                }
                                                <label for="@questItem.Id@id"><span></span>@questItem.Param_4</label>
                                            </div>
                                        </div>
                                        id++;
                                    }
                                    <div class="alert alert-danger" style="display:none;">@translation.IncorectAnswer</div>
                                </div>
                            }
                            <p class="comment" style="display: none;">
                                @translation.ConsentMessage
                            </p>
                            <div id="success-message"></div>

                            <input type="button" class="btn btn-link" id="checkReg" value="@translation.CheckQuestionarie">
                        </div>
                    </div>
                </div>

            }
        }
    </form>
</section>
<input hidden id="culture" value="@ViewBag.Language" />
<script src="~/wwwroot/scripts/js/bootstrap-combobox.js"></script>
<script src="~/wwwroot/scripts/js/jquery.maskedinput.min.js"></script>
<script src="~/wwwroot/scripts/js/registration.js"></script>
<script>

    $(document).ready(function () {
        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
        var AuthenticationInfo = null;
        eventer(messageEvent, function (e) {
            AuthenticationInfo = e.data;
            var authInfo = JSON.stringify(AuthenticationInfo);
            var pid = AuthenticationInfo.Pid;
            $("#nemid").val(pid);
            $("#AuthenticationInfo").val(authInfo);
            $('#registration-form').submit();
        }, false);
    });


    @*$("#additionalInfoTextPage").click(function (e) {
        e.preventDefault();
        var storbox_account_id = $(this).parent().find('input[name=storbox_account_id]').val();
        var validation_code = $(this).parent().find('input[name=validation_code]').val();
        var code = $(this).parent().find('input[name=code]').val();
        var $this = $(this);
        $this.parent().find('.col .alert').remove();
        var culture = $("#culture").val();
        $.ajax({
            type: "POST",
            url: "/" + culture + "/Ajax/AdditionalInfoTxtPage",
            data: { storbox_account_id: storbox_account_id, validation_code: validation_code, code: code },
            success: function (data) {
                console.log(data);
                if (!data.error) {
                    if (data.dont_match) {
                        $this.parent().find('.col').prepend('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> @translation.ValidationCodeIncorrect </div>');
                    }
                    else {
                        $this.parent().slideUp();
                    }

                } else {
                    if (data.fill_gaps) {
                        $this.parent().find('.col').prepend('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> @translation.CompliteFields </div>');
                    }
                    if (data.user_not) {
                        $this.parent().find('.col').prepend('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> @translation.EmailError </div>');
                    }
                }
            }
        });
    });*@




    @*$("#getcode").click(function (e) {
        e.preventDefault();
        var storbox_account_id = $('input[name=storbox_account_id]').val();
        var $this = $(this);
        $this.parent().parent().parent().parent().parent().find('.col .alert').remove();
        var culture = $("#culture").val();
        $.ajax({
            type: "POST",
            url: "/" + culture + "/Ajax/GetCode",
            data: { Email: storbox_account_id },
            success: function (data) {
                console.log(data);
                if (data != 0) {
                    if (data == 1)
                    {
                        $this.parent().parent().parent().parent().parent().find('.col').prepend('<div class="alert alert-info"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@translation.AccountAllredyActivated</div>');

                    }
                    else {
                        $('input[name=code]').val(data);
                        $this.parent().parent().parent().parent().parent().find('.col').prepend('<div class="alert alert-success"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@translation.PleaseCheckEmail</div>');
                    //$this.parent().slideUp();
                    }

                } else {
                    $this.parent().parent().parent().parent().parent().find('.col').prepend('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> @translation.EmailError </div>');
                }
            }
        });
    });*@
</script>
