@{
    Layout = "~/Views/Shared/_WebLayoute.cshtml";
    DAL.Context.Translation translation = TempData["Translate"] as DAL.Context.Translation;
    string slug="/En/subscribe";
    if(ViewBag.structureSlug!=null && ViewBag.infoSlug!=null)
    {
        slug = ViewBag.structureSlug +"/" + ViewBag.infoSlug;
    }
    else if(ViewBag.structureSlug != null)
    {
        slug = ViewBag.structureSlug;
    }
    else if(ViewBag.infoSlug != null)
    {
        slug = ViewBag.infoSlug;
    }
}
<style>
    .alert
    {
        clear:both;
        margin-top:20px;
    }
</style>

<section class="container-fluid section">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div class="alert alert-warning" style="display:none" role="alert">
           <span id="warningMessage"></span>
        </div>
        <div class="alert alert-danger" style="display:none" role="alert">
            <span id="dangerMessage"></span>
        </div>
        <div class="alert alert-success" style="display:none" role="alert">
           <span id="success"></span>
        </div>
        <h1>@translation.Subscribe</h1>
        <form class="windraw">
            <div class="row">
                <div class="form-horizontal col-sm-6">
                    <div class="form-group">
                        <label for="email">@translation.Email</label>
                        <input id="email" name="email" class="form-control" type="email">
                    </div>
                </div>
            </div>
            <input type="button" id="subscribe" value="@translation.Subscribe" class="btn btn-link">
        </form>
    </div>

</section>

<script>
    $(document).ready(function () {
        $('#subscribe').click(function () {
            $('.alert-warning').hide();
            $('.alert-danger').hide();
            $('.alert-success').hide();
            var email = $('#email').val();
            if (email == '') {
                $('#warningMessage').html("@translation.EmailEmpty");
                $('.alert-warning').show();
                $('.alert-danger').hide();
            }
            else {
                $.ajax({
                    url: '/Manage/Web/@slug',
                    type: 'post',
                    data: { "Email": email},
                    success: function (response) {
                        if (response == "0") {
                            $('#email').val('');
                            $('.alert-success').html("@translation.SubscribeKeySent");
                            $('.alert-success').show();
                        }
                        else if (response == "1") {
                            $('.alert-danger').show();
                            $('.alert-warning').hide();
                            $('#dangerMessage').html("@translation.EmailExists");
                        }
                        else if (response == "2") {
                            $('.alert-success').hide();
                            $('.alert-danger').hide();
                            $('.alert-warning').show();
                            $('#warningMessage').html("@translation.EmailError");
                        }
                    }
                });
            }
        });
    });

</script>

