@{
    IEnumerable<DAL.Context.InfoTranslation> TextPage = ViewData["TextPage"] as IEnumerable<DAL.Context.InfoTranslation>;
    DAL.Context.Translation translation = TempData["Translate"] as DAL.Context.Translation;
    DAL.Context.InfoTranslation textpg = ViewData["textpg"] as DAL.Context.InfoTranslation;
    Layout = "~/Views/Shared/_WebLayoute.cshtml";
}
@if (ViewBag.infoSlug != null && ViewBag.structureSlug != null)
{
    <section id="news" class="container-fluid section">
        <div class="row">
            <div class="col-xs-2 col-sm-1 section-icon">
                <span class="icon icon-news pull-right"></span>
            </div>
            <div class="col-xs-10 col-sm-11 section-header">
                <h2><a href="/@ViewBag.Language/@ViewBag.structureSlug">@ViewBag.structureSlug</a> | @ViewData["Title"]</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
                <div class="section-content">
                    @if (textpg.Info.Sections.Style == 4)
                    {
                        <div class="additional" style="display:none;">
                            <div class="row">
                                <div class="col col-sm-6">
                                    <div class="form-group">
                                        <label style="font-size:16px">@translation.StorboxAccountId</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="storbox_account_id">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">@translation.GetValidationCode</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-size:16px">@translation.ValidationCode </label>
                                        <input type="text" class="form-control" name="validation_code">
                                    </div>
                                    <input type="hidden" name="code" value="" />
                                </div>
                            </div>
                            <input type="button" id="additionalInfo" value="@translation.Submit" class="btn btn-link">
                        </div>

                        <form>
                            <div class="row">
                                <div class="form-horizontal col-sm-6">
                                    <div class="form-group">
                                        <input id="nemid" name="nemid" class="form-control" type="hidden" readonly="">
                                        <button class="btn btn-link auth" id="nemid-auth" type="button">@translation.AuthenticateNemid</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row" id="nemidblock" style="display:none">
                            <input hidden id="pid" name="nemid" value="" />
                            <iframe id="FrameId" src="@Url.Action("Logon", "DenskId")" width="220" height="300" border="0" style="line-height: 1.0; border: none; margin: 0; padding: 0; overflow: hidden;" scrolling="no"></iframe>
                        </div>

                    }
                    <div class="section-content-news">
                        <div class="container-fluid inner-page">
                            <div class="row">
                                <div class="col-xs-8 col-sm-offset-0 col-sm-3">
                                    @if (TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault() != null)
                                    {
                                        if (TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File != null)
                                        {
                                            <a class="fancybox" data-fancybox-group="gallery" href="~/wwwroot/images/standard/@TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.FileName@TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.Extension">
                                                <img src="~/wwwroot/images/standard/@TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.FileName@TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.Extension" class="standard_image" alt="@translation.HowWorks" />
                                            </a>
                                        }
                                    }
                                </div>
                                <p>@Html.Raw(TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault() != null ? TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().Description : "")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (ViewBag.infoSlug != null)
{

    <section id="news" class="container-fluid section">
        <div class="row">
            <div class="col-xs-2 col-sm-1 section-icon">
                <span class="icon icon-news pull-right"></span>
            </div>
            <div class="col-xs-10 col-sm-11">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>

        <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
            @if (textpg.Info.Sections.Style == 4)
            {

                <div class="additional" style="display:none;">
                    <div class="row">
                        <div class="col col-sm-6">
                            <div class="form-group">
                                <label style="font-size:16px">@translation.StorboxAccountId</label>
                                <input type="text" class="form-control" name="storbox_account_id">
                            </div>
                            <div class="form-group">
                                <label style="font-size:16px">@translation.ValidationCode </label>
                                <input type="text" class="form-control" name="validation_code">
                            </div>
                            <input type="hidden" name="code" value="" />
                        </div>
                    </div>
                    <input type="button" id="additionalInfo" value="@translation.Submit" class="btn btn-link">
                </div>
                <form>
                    <div class="row">
                        <div class="form-horizontal col-sm-6">
                            <div class="form-group">
                                <input id="nemid" name="nemid" class="form-control" type="hidden" readonly="">
                                <button class="btn btn-link auth" id="nemid-auth" type="button">@translation.AuthenticateNemid</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" id="nemidblock" style="display:none">
                    <input hidden id="pid" name="nemid" value="" />
                    <iframe id="FrameId" src="@Url.Action("Logon", "DenskId")" width="220" height="300" border="0" style="line-height: 1.0; border: none; margin: 0; padding: 0; overflow: hidden;" scrolling="no"></iframe>
                </div>
            }
        </div>
        <div class="row">

            <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-10">
                <div class="section-content">
                    <div class="section-content-news">
                        <div class="container-fluid inner-page">
                            <div class="row">
                                <div class="col-xs-8 col-sm-offset-0 col-sm-3">
                                    @if (TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault() != null)
                                    {
                                        if (TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File != null)
                                        {
                                            <a class="fancybox" data-fancybox-group="gallery" href="~/wwwroot/images/standard/@TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.FileName@TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.Extension">
                                                <img src="~/wwwroot/images/standard/@TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.FileName@TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().File.Extension" class="standard_image" alt="@translation.HowWorks" />
                                            </a>
                                        }
                                    }
                                </div>
                                <p>@Html.Raw(TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault() != null ? TextPage.Where(x => x.Slug == ViewBag.infoSlug).FirstOrDefault().Description : "")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<input hidden id="culture" value="@ViewBag.Language" />

<input hidden id="nemid" value="" />
<script>
    $("#nemid-auth").click(function () {
        $("#nemidblock").slideToggle(100);
    });
    $(document).ready(function () {
        var culture = $("#culture").val();
        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
        var pid = null;
        eventer(messageEvent, function (e) {
            pid = e.data.Pid;
            $("#nemid").val(pid);
            $("#nemid_error").hide();
            $.ajax({
                type: "POST",
                url: "/" + culture + "/Ajax/GetRecieptPageInfo",
                data: { nemid: pid },
                success: function (data) {
                    if (!data.error) {
                        //$("input[name=storbox_account_id]").val(data.storeboxEmail);
                        //$("input[name=validation_code]").val(data.validationCode);
                        $("input[name=storbox_account_id]").val("");
                        $("input[name=validation_code]").val("");
                        $("#nemid-auth").hide();
                        $("#nemidblock").hide();
                        $(".additional").show();
                    }
                    else {
                        var iframe = document.getElementById('FrameId');
                        iframe.src = iframe.src;
                        $("#nemid-auth").parent().parent().parent().prepend('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>  @translation.NemidNotFound </div>');
                    }

                }
            });

        }, false);

    });





    @*$("#additionalInfoTextPage").click(function (e) {
        e.preventDefault();
        var storbox_account_id = $(this).parent().find('input[name=storbox_account_id]').val();
        var validation_code = $(this).parent().find('input[name=validation_code]').val();
        var code = $(this).parent().find('input[name=code]').val();
        var $this = $(this);
        $this.parent().find('.col .alert').remove();
        var culture = $("#culture").val();
        $.ajax({
            type: "POST",
            url: "/" + culture + "/Ajax/AdditionalInfoTxtPage",
            data: { storbox_account_id: storbox_account_id, validation_code: validation_code, code: code },
            success: function (data) {
                console.log(data);
                if (!data.error) {
                    if (data.dont_match) {
                        $this.parent().find('.col').prepend('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> @translation.ValidationCodeIncorrect</div>');
                    }
                    else {
                        $this.parent().slideUp();
                    }

                } else {
                    if (data.fill_gaps) {
                        $this.parent().find('.col').prepend('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> @translation.CompliteFields </div>');
                    }
                    if (data.user_not) {
                        $this.parent().find('.col').prepend('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> @translation.EmailError </div>');
                    }

                }
            }
        });
    });*@
    $("#additionalInfo").click(function (e) {
        e.preventDefault();
        var storbox_account_id = $(this).parent().find('input[name=storbox_account_id]').val();
        var validation_code = $(this).parent().find('input[name=validation_code]').val();
        var $this = $(this);
        $this.parent().find('.col .alert').remove();
        var culture = $("#culture").val();
        if (!validateEmail(storbox_account_id)) {
            $('<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@translation.EmailError</div>').insertAfter($("input[name='storbox_account_id']"));
        }
        else {
            $.ajax({
            type: "POST",
            url: "/" + culture + "/Ajax/ValidateStoreboxAccount",
                data: { email: storbox_account_id, nemid: $("#nemid").val() },
            success: function (data) {
                if (data == "0") {
                    $.ajax({
                        type: "POST",
                        url: "/" + culture + "/Ajax/AdditionalInfoTxtPage",
                        data: { storbox_account_id: storbox_account_id, validation_code: validation_code, nemid: $("#nemid").val() },
                        success: function (data) {
                            console.log(data);
                            if (!data.error) {
                               $this.parent().slideUp();
                            } else {
                                $('<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@translation.ErrorTitle </div>').insertAfter($("input[name='storbox_account_id']"));
                            }
                        }
                    });
                } else {
                    $('<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@translation.StoreboxEmailAllreadyRegistered</div>').insertAfter($("input[name='storbox_account_id']"));
                }
            }
        });
        }
       
    });


  

    @*$("#getcode").click(function (e) {
        e.preventDefault();
        var storbox_account_id = $('input[name=storbox_account_id]').val();
        var $this = $(this);
        $this.parent().parent().parent().parent().parent().find('.col .alert').remove();
        var culture = $("#culture").val();
        $.ajax({
            type: "POST",
            url: "/" + culture + "/Ajax/GetCode",
            data: { Email: storbox_account_id },
            success: function (data) {
                console.log(data);
                if (data != 0) {
                    if (data == 1)
                    {
                        $this.parent().parent().parent().parent().parent().find('.col').prepend('<div class="alert alert-info"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@translation.AccountAllredyActivated</div>');

                    }
                    else {
                        $('input[name=code]').val(data);
                        $this.parent().parent().parent().parent().parent().find('.col').prepend('<div class="alert alert-success"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@translation.PleaseCheckEmail</div>');
                    //$this.parent().slideUp();
                    }

                } else {
                    $this.parent().parent().parent().parent().parent().find('.col').prepend('<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> @translation.EmailError </div>');
                }
            }
        });
    });*@

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

</script>