@{
    Layout = "~/Views/Shared/_WebLayoute.cshtml";
    DAL.Context.Translation translation = TempData["Translate"] as DAL.Context.Translation;
}

<section class="container-fluid section">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div class="alert alert-danger danger" style="display:none" role="alert">
            <span id="dangerMessage">@translation.NemidNotFound</span>
        </div>
        <div class="alert alert-danger verify_nemid" style="display:none" role="alert">
            <span id="dangerMessage">@translation.VerifyNemid</span>
        </div>
        <div class="alert alert-success" style="display:none" role="alert">
            <span id="successMessage">@translation.WindrawSuccess</span>
        </div>
        <h1>@ViewData["Title"]</h1>
        <form class="windraw">
            <div class="row">
                <div class="form-horizontal col-sm-6">
                    <div class="form-group">
                        <input id="nemid" name="nemid" class="form-control" type="hidden" readonly="">
                        <button class="btn btn-link auth" id="nemid-auth" type="button">@translation.AuthenticateNemid</button>
                    </div>
                </div>
            </div>
            <input type="button" id="submit" style="display:none" value="@translation.Remove" class="btn btn-link">
        </form>
        <div class="row" id="nemidblock" style="display:none">
            <input hidden id="pid" name="nemid" value="" />
            <iframe id="FrameId" src="@Url.Action("Logon", "DenskId")" width="220" height="300" border="0" style="line-height: 1.0; border: none; margin: 0; padding: 0; overflow: hidden;" scrolling="no"></iframe>
        </div>

    </div>
</section>
<script src="~/wwwroot/scripts/js/windraw.js"></script>
<script src="~/wwwroot/scripts/js/scripts.js"></script>
<script>
    $(document).ready(function () {

        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
        var pid = null;
        eventer(messageEvent, function (e) {
            pid = e.data.Pid;
            $("#nemid").val(pid);
            $("#submit").show();
            $("#nemid-auth").hide();
            $("#nemidblock").slideUp(100);
        }, false);

        $("#nemid-auth").click(function () {
            $("#nemidblock").slideToggle(100);
        });

        $("#submit").click(function () {
            var formData = new FormData();
            formData.append('NemId', $('#nemid').val());
            $('.alert-danger').hide();
            $('.alert-success').hide();
            $('.verify_nemid').hide();
            if ($("#nemid").val() == "")
            {
                $('.verify_nemid').show();
            } else
            {
                $.ajax({
                    url: '/wb-WD/WindrawPage/DeleteUser',
                    type: 'POST',
                    data: formData,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function (response) {
                        if (response == "1") {
                            $('.alert-success').show();
                        }
                        else if (response == "0") {
                            $('.danger').show();
                        }
                    }
                });
            }
           
        });
    });
</script>
