@model IEnumerable<DAL.Context.InfoFiles>
@using IdeaCms.Resources
@{
    ViewData["Title"] = Files.Files_1;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}


@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<h2>@Files.Files_1</h2>
<hr />
<div class="multi-language-backspace">
    <a class="btn btn-warning" href=@Url.Action("Index")>@Files.Back</a>
</div>

<form action=@Url.Action("UploadFile") method="post" enctype="multipart/form-data">
    <div class="col-md-12 form-inline" style="margin:20px 0px">
        <div class="input-group col-md-3" style="float:left;">
            <label class="input-group-btn">
                <span class="btn btn-primary">
                    @Files.Browse<input type="file" name="file" style="display: none;">
                </span>
            </label>
            <input type="text" class="form-control" readonly>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">@Files.Upload</button>
        </div>

    </div>
</form>

<div class="form-group">
    <div class="col-md-10">
        <div class="list-group" id="fileuploader">
            <a data-toggle="modal" data-target="#myModal2" class="list-group-item active">@Files.Files_1</a>
            @foreach(var item in Model)
            {
              <span class="list-group-item">@item.Desctiption@item.extension <a data-toggle="confirmation" data-title="Are you sure you want to delete record?"
                   href="@Url.Action("DeleteFile",new { id = item.Name } )" class="btn btn-danger">@Files.Delete</a></span>
            }
           
        </div>
    </div>
</div>
<style>
    .list-group-item
    {
        overflow:hidden;
    }
    .btn-danger {
        float: right;
    }
</style>