@using IdeaCms.Resources
@{
    ViewData["Title"] = FilesIndex.Manager;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}



<h2>@FilesIndex.File @FilesIndex.Manager</h2>



<div class="file-manager-buttons">
    <div class="file-manager-icon">
        <a href="@Url.Action("Files")" class="glyphicon glyphicon-file file-manager-icon-a file"></a>
        <span>@FilesIndex.Files</span>
    </div>
    <div class="file-manager-icon">
        <a href="@Url.Action("Pictures")" class="glyphicon glyphicon-picture file-manager-icon-a picture"></a>
        <span>@FilesIndex.Pictures</span>
    </div>
</div>
