@model IEnumerable<DAL.Context.File>
@using IdeaCms.Resources
@{
    ViewData["Title"] = Pictures.Pictures_1;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<div>

    <h1>@Pictures.Pictures_1</h1>
    <hr />
    <div class="multi-language-backspace">
        <a class="btn btn-warning" href="@Url.Action("Index")">@Pictures.Back</a>
    </div>
    <form action=@Url.Action("UploadImage") method="post" enctype="multipart/form-data">
        <div class="col-md-12 form-inline" style="margin:20px 0px">
            <div class="input-group col-md-3" style="float:left;">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        @Pictures.Browse<input type="file" name="file" style="display: none;">
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>
                <div class="col-md-3">
                    <select id="group" name="resolution" class="form-control">
                        <option value="0">Default</option>
                        <option value="787X121">Logo</option>
                        <option value="600X800">Post pages, Gallery</option>
                        <option value="300X463">publications</option>
                        <option value="600X105">Footer</option>
                        <option value="2000X704">Header</option>
                        <option value="1280X720">Text Pages, Slider</option>
                    </select>
            </div>
            <div class="col-md-3">
                <button  type="submit" class="btn btn-primary">@Pictures.Upload</button>
            </div>
            
        </div>
    </form>
    <hr>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-sm-4 col-xs-6 file-manager-pctures"><a title="@item.ImgResolution" href="#"><img onclick="DeleteLink('@item.FileName','@item.Extension')" class="thumbnail img-responsive" src="~/wwwroot/images/standard/@item.FileName@item.Extension"></a></div>
        }
        
    </div>
</div>
<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Heading</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="col-md-10">
                    <input id="Link" type="text" class="form-control" />
                </div>
                <div class="col-md-2">
                    <a id="delete"
                        class="btn btn-danger">@Pictures.Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Initiate with custom caret icon
        $('select.selectpicker').selectpicker({
            caretIcon: 'glyphicon glyphicon-menu-down'
        });
    });
    var url = null;
    var deleteId;
    var ext;
    $(document).ready(function () {
        $('.thumbnail').click(function () {
            url = $(this).attr("src")
            $("#Link").val(url);
            $("#delete").attr("href", "/en-US/Manage/FileManager/DeleteImage/" + deleteId + "/" + ext);
            $('.modal-body').empty();
            var title = $(this).parent('a').attr("title");
            $('.modal-title').html(title);
            $($(this).parents('div').html()).appendTo('.modal-body');
            $('#myModal').modal({ show: true });
        });

    });
    function DeleteLink(p1,p2) {
        deleteId = p1;
        ext = p2;
        while (ext.charAt(0) === '.') {
            ext = ext.substr(1);
        }
    }
</script>