﻿@model Core.Models.ContactModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = UpdateContact.Contact;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
<h2>@UpdateContact.Update @UpdateContact.Contact @UpdateContact.Page</h2>
<hr />
<form action="@Url.Action("UpdateContactPage")" method="post">
    <div style="width:100%;height:100%; overflow:hidden;">
        <div id="hidden-inputs">
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            <input type="hidden" name="Lat" value="@Model.Lat" id="latitude" />
            <input type="hidden" name="Long" value="@Model.Long" id="longitude" />
        </div>
        <div style="float:right; width:40%" class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div class="form-group">
                    <label for="group" class="col-md-2 control-label">@UpdateContact.Section</label>
                    <div class="col-md-10">
                        <select id="group" name="SectionId" class="form-control" asp-items="ViewBag.GroupId">
                            @foreach (var item in ViewData["Section"] as IEnumerable<DAL.Context.SectionTranslation>)
                            {
                                if (item.SectionId == ViewBag.GroupId)
                                {
                                    <option selected value="@item.SectionId">@item.Description</option>
                                }
                                else
                                {
                                    <option value="@item.SectionId">@item.Description</option>
                                }

                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div id="map" style="position:relative; overflow:hidden; height:300px;margin-left:20px;margin-right:20px;">

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12  funkyradio">
                        <div class="checkbox funkyradio-success">
                            @if (Model.Published)
                            {
                                <input checked class="active" name="Published" type="checkbox" value="true" id="Published" />
                            }
                            else
                            {
                                <input class="active" name="Published" type="checkbox" value="true" id="Published" />
                            }
                            <label for="Published">@UpdateContact.Published</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:55%" class="language-tab col-lg-8">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@UpdateContact.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@UpdateContact.Danish</a></li>
            </ul>

            <div class="tab-content ">
                <div id="English" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Title" class="col-md-2 control-label">@UpdateContact.Title</label>
                            <div class="col-md-10">
                                <input name="Title" value="@Model.Title" class="form-control" required="required" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address" class="col-md-2 control-label">@UpdateContact.Address</label>
                            <div class="col-md-10">
                                <input name="Address" value="@Model.Address" class="form-control" required="required" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Phone" class="col-md-2 control-label">@UpdateContact.Phone</label>
                            <div class="col-md-10">
                                <input name="Phone" value="@Model.Phone" type="number" class="form-control" required="required" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="col-md-2 control-label">@UpdateContact.Email</label>
                            <div class="col-md-10">
                                <input name="Email" value="@Model.Email" class="form-control" required="required" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Text" class="col-md-2 control-label">@UpdateContact.Text</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Text)
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Titledk" class="col-md-2 control-label">@UpdateContact.Title</label>
                            <div class="col-md-10">
                                <input name="Titledk" value="@Model.Titledk" class="form-control" />
                                <span asp-validation-for="Titledk" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Addressdk" class="col-md-2 control-label">@UpdateContact.Address</label>
                            <div class="col-md-10">
                                <input name="Addressdk" value="@Model.Addressdk" class="form-control" />
                                <span asp-validation-for="Addressdk" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Phonedk" class="col-md-2 control-label">@UpdateContact.Phone</label>
                            <div class="col-md-10">
                                <input name="Phonedk" value="@Model.Phonedk" type="number" class="form-control" />
                                <span asp-validation-for="Phonedk" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Emaildk" class="col-md-2 control-label">@UpdateContact.Email</label>
                            <div class="col-md-10">
                                <input name="Emaildk" value="@Model.Emaildk" class="form-control" />
                                <span asp-validation-for="Emaildk" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Textdk" class="col-md-2 control-label">@UpdateContact.Text</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Textdk)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="@UpdateContact.Update @UpdateContact.Contact @UpdateContact.Page" class="btn btn-success btn-block" />
    </div>
</form>

<script>
    $(function () {
        $("#Text").ckeditor();
        $("#Textdk").ckeditor();
    });
    @{
        string lat="41.00", lng= "41.00";
    }
    @if(Model.Lat!=null && Model.Long!=null)
    {
        lat = Model.Lat;
        lng = Model.Long;
    }
    var marker = null;
    function monitors_add_initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: { lat: @lat, lng: @lng }
        });
        map.addListener('click', function (e) {
            monitors_add_placeMarker(e.latLng, map);
        });
        marker =  new google.maps.Marker({
            position: { lat:  @lat, lng: @lng },
            map: map
        });
    }


    function monitors_add_placeMarker(latLng, map) {
        if (marker != null) {
            marker.setMap(null);
        }
        marker = new google.maps.Marker({
            position: latLng,
            map: map
        });
        $('#latitude').val(latLng.lat());
        $('#longitude').val(latLng.lng());
    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjdaDn-sxZp62RXC-4l1IyACGEojJTywI&callback=monitors_add_initMap"></script>