@model IEnumerable<DAL.Context.DiseaseTranslation>
@using IdeaCms.Resources
@{
    ViewData["Title"] = ChronicDiseaseList.Diesease;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<h2>@ChronicDiseaseList.Diesease</h2>
<hr />
<p style="float:left;margin-right:20px;">
    <a class="btn btn-success" href="@Url.Action("CreateDisease")" >@ChronicDiseaseList.Create @ChronicDiseaseList.New</a>
</p>
<table class="table table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.Raw(item.Title)
                </td>
                <td>
                    <a href="@Url.Action("UpdateDisease", new { id = item.DiseaseId })" class="btn btn-default">@ChronicDiseaseList.Edit</a>
                    <a data-toggle="confirmation" data-title="Are you sure you want to delete record?"
                       href="@Url.Action("DeleteDisease", new { id = item.DiseaseId })"class="btn btn-danger">@ChronicDiseaseList.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>