@model Core.Models.DiseaseModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = @ChronicDisease.Diesease;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}

<h2>@ChronicDisease.Create @ChronicDisease.Diesease</h2>

<hr />

<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("ChronicDiseaseList")">@ChronicDisease.Back_to_List</a>
</div>

<form asp-action="CreateDisease" method="post">
    <div style="width:100%;height:100%; overflow:hidden;">
        <div id="hidden-inputs">

        </div>
        <div style="float:right; width:35%" class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2 funkyradio">
                        <div class="checkbox funkyradio-success">
                            <input checked class="active" value="true" type="checkbox" id="Active" name="Active" />
                            <label for="Active">@ChronicDisease.Published</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:60%" class="language-tab col-lg-8">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@ChronicDisease.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@ChronicDisease.Danish</a></li>
            </ul>

            <div class="tab-content ">
                <div id="English" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Title" class="col-md-2 control-label">@ChronicDisease.Title</label>
                            <div class="col-md-10">
                                <input name="Title" class="form-control"/>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Titledk" class="col-md-2 control-label">@ChronicDisease.Title</label>
                            <div class="col-md-10">
                                <input name="Titledk" class="form-control"/>
                                <span asp-validation-for="Titledk" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="@ChronicDisease.Create @ChronicDisease.Diesease" class="btn btn-success btn-block" />
    </div>
</form>