@model Core.Models.DiseaseModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = UpdateChronicDisease.Diesease;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}

<h2>@UpdateChronicDisease.Update @UpdateChronicDisease.Diesease</h2>

<hr />

<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("ChronicDiseaseList")">@UpdateChronicDisease.Back_to_List</a>
</div>

<form action="@Url.Action("UpdateDisease")" method="post">
    <div style="width:100%;height:100%; overflow:hidden;">
        <div id="hidden-inputs">
            <input type="hidden" name="Id" value="@Model.Id" />
        </div>
        <div style="float:right; width:35%" class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2 funkyradio">
                        <div class="checkbox funkyradio-success">
                            @if (Model.Active)
                            {
                                <input checked type="checkbox" id="Active" value="true" class="active" name="Active" />
                            }
                            else
                            {
                                <input type="checkbox" id="Active" value="true" class="active" name="Active" />
                            }
                            <label for="Active">@UpdateChronicDisease.Published</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:60%" class="language-tab col-lg-8">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@UpdateChronicDisease.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@UpdateChronicDisease.Danish</a></li>
            </ul>

            <div class="tab-content ">
                <div id="English" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Title" class="col-md-2 control-label">@UpdateChronicDisease.Title</label>
                            <div class="col-md-10">
                                <input name="Title" class="form-control" value="@Model.Title" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Titledk" class="col-md-2 control-label">@UpdateChronicDisease.Title</label>
                            <div class="col-md-10">
                                <input name="Titledk" value="@Model.Titledk" class="form-control"/>
                                <span asp-validation-for="Titledk" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="@UpdateChronicDisease.Update @UpdateChronicDisease.Diesease" class="btn btn-success btn-block" />
    </div>
</form>