@model Core.Models.PublicationModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = CreatePublication.Publication;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
<style>
    a{
        cursor:pointer;
    }
</style>
<h2>@CreatePublication.Create @CreatePublication.Publication</h2>

<hr />

<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("PublicationsList")">@CreatePublication.Back_to_List</a>
</div>

<form action="@Url.Action("CreatePublication")" method="post">
    <div style="width:100%;height:100%; overflow:hidden;">
        <div id="hidden-inputs">
        </div>
        <div id="hidden-file-inputs">
        </div>
        <div style="float:right; width:35%" class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div class="form-group">
                    <label for="group" class="col-md-2 control-label">@CreatePublication.Section</label>
                    <div class="col-md-10">
                        <select id="group" name="Section" class="form-control">
                            @foreach (var item in ViewData["Section"] as IEnumerable<DAL.Context.SectionTranslation>)
                            {
                                <option value="@item.SectionId">@item.Description</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Date" class="col-md-2 control-label">@CreatePublication.Date</label>
                    <div class="col-md-10">
                        <input name="Date"  value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" type="date"  />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="list-group" id="">
                            <a data-toggle="modal" data-target="#myModal2" class='list-group-item active'>@CreatePublication.Choose @CreatePublication.File</a>
                            <div id="fileuploader">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a data-toggle="modal" id="choose-image" data-target="#myModal" class="choose-image">
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2  funkyradio">
                        <div class="checkbox funkyradio-success">
                            <input checked class="active" id="Published" type="checkbox" asp-for="Published" />
                            <label for="Published">@CreatePublication.Published</label>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
                <div style="float:left; width:60%" class="language-tab col-lg-8">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#English">@CreatePublication.English</a></li>
                        <li><a data-toggle="tab" href="#Danish">@CreatePublication.Danish</a></li>
                    </ul>

                    <div class="tab-content ">
                        <div id="English" class="tab-pane fade in active">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="Title" class="col-md-2 control-label">@CreatePublication.Title</label>
                                    <div class="col-md-10">
                                        <input name="Title" class="form-control"  />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="URL" class="col-md-2 control-label">@CreatePublication.Url</label>
                                    <div class="col-md-10">
                                        <input name="URL" class="form-control"  />
                                        <span asp-validation-for="URL" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Danish" class="tab-pane fade">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="Titledk" class="col-md-2 control-label">@CreatePublication.Title</label>
                                    <div class="col-md-10">
                                        <input name="Titledk" class="form-control" />
                                        <span asp-validation-for="Titledk" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="URLdk" class="col-md-2 control-label">@CreatePublication.Url</label>
                                    <div class="col-md-10">
                                        <input name="URLdk" class="form-control"/>
                                        <span asp-validation-for="URLdk" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="@CreatePublication.Create @CreatePublication.Publication" class="btn btn-success btn-block" />
    </div>
</form>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@CreatePublication.File @CreatePublication.Manager</h4>
            </div>
            <div class="modal-body">
                <div id="modelgallery" class="modal-gallery">
                    <a data-dismiss="modal" onclick="createInput(0,'','')" class="modal-gallery-image modal-gallery-image-clear">

                    </a>
                    @foreach (var item in ViewData["Images"] as IEnumerable<DAL.Context.File>)
                    {
                        <a data-dismiss="modal" onclick="createInput(@item.Id,'@item.FileName','@item.Extension')" class="modal-gallery-image">
                            <img src="~/wwwroot/images/standard/@item.FileName@item.Extension" />
                        </a>
                    }
                </div>
                <div class="upload-file">
                    <form>
                        <div style="padding-left:0px" class="modal-footer">
                            <div style="padding-left:0px" class="col-lg-6 col-sm-6 col-12">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            @CreatePublication.Browse<input type="file" id="file" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <button style="float:left" type="button" id="compare" class="btn btn-primary">@CreatePublication.Upload</button>
                        </div>
                    </form>
                    <div id="imgloader" class="loader"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@CreatePublication.Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@CreatePublication.File @CreatePublication.Manager</h4>
            </div>
            <div class="modal-body">
                <div id="filemodelgallery" class="modal-gallery">
                    @foreach (var item in ViewData["Files"] as IEnumerable<DAL.Context.InfoFiles>)
                    {
                        <a data-dismiss='modal' onclick="createFile(@item.Id,'@item.Desctiption','@item.extension')"  class="list-group-item">@item.Desctiption<span class="badge">@item.extension</span></a>
                    }
                </div>
                <div class="upload-file">
                    <form>
                        <div style="padding-left:0px" class="modal-footer">
                            <div style="padding-left:0px" class="col-lg-6 col-sm-6 col-12">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            @CreatePublication.Browse<input type="file" id="file1" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <button style="float:left" type="button" id="comparefile" class="btn btn-primary">@CreatePublication.Upload</button>
                        </div>
                    </form>
                </div>
                <div id="loader" class="loader"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@CreatePublication.Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function getExtension(filename) {
        var parts = filename.split('.');
        return parts[parts.length - 1];
    }

    function isImage(filename) {
        var ext = getExtension(filename);
        switch (ext.toLowerCase()) {
            case 'jpg':
            case 'png':
            case 'JPEG':
            case 'PNG':
                return true;
        }
        return false;
    }
    $(document).ready(function () {
        $("#compare").click(function () {
            if (!isImage($('#file')[0].files[0].name))
            {
                window.alert('file is not valid');
            }
            else
            {
                var formData = new FormData();
                formData.append('file', $('#file')[0].files[0]);
                $("#imgloader").show();
                $.ajax({
                    url: '/Manage/Publications/UploadImage',
                    type: 'POST',
                    data: formData,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function (data) {
                        $("#imgloader").hide();
                        if (data == "0") {

                        }
                        else {
                            var obj = JSON.parse(data);
                            document.getElementById("modelgallery").innerHTML += "<a  data-dismiss='modal' onclick=\"createInput(" + obj.id + ",'" + obj.name + "','" + obj.extension + "')\" class='modal-gallery-image'><img src='/wwwroot/images/standard/" + obj.name + obj.extension + "'/></a>";

                        }
                    }
                });
            }
            
        });
        $("#comparefile").click(function () {
            var formData = new FormData();
            formData.append('file1', $('#file1')[0].files[0]);
            $("#loader").show();

            $.ajax({
                url: '/Manage/Publications/UploadFileAsync',
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    $("#loader").hide();
                    if (data == "0") {

                    }
                    else {
                        var obj = JSON.parse(data);
                        document.getElementById("filemodelgallery").innerHTML += "<a data-dismiss='modal' onclick=\"createFile(" + obj.id + ",'" + obj.description + "','" + obj.extension + "')\"  class='list-group-item'>" + obj.description + "<span class='badge'>" + obj.extension + "</span></a>";
                    }
                }
            });
        });
    });
</script>
<script>
    function createInput(p1,p2,p3)
    {
        if (p1 == 0) {
            document.getElementById("hidden-inputs").innerHTML = "";
            document.getElementById("choose-image").innerHTML = "";
        } else {
            document.getElementById("hidden-inputs").innerHTML = "<input type='hidden' name='ImageId' value='" + p1 + "'/>";
            document.getElementById("choose-image").innerHTML = "<img src='/wwwroot/images/standard/" + p2 + p3 + "'/>";
        }
    }
    var className = "className";
    var classCount = 1;
    function createFile(p1, p2, p3) {
        if (p1 == 0) {
        } else {
            document.getElementById("hidden-file-inputs").innerHTML = "<input type='hidden' class='"+className+"' name='FileId' value='" + p1 + "'/>";
            document.getElementById("fileuploader").innerHTML = "<a class='list-group-item'>" + p2 + p3 + "<button type='button' id='" + className+"' onclick='drop(this)' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button></a>";

        }
        className = "className" + classCount;
        classCount++;
    }
    function drop(e)
    {
        var ths = e;
        var id = $(e).attr('id');
        $("#hidden-file-inputs").find("." + id).remove();
        $(e).parent().remove();
    }
</script>
