@model IEnumerable<DAL.Context.InfoTranslation>
@using IdeaCms.Resources
    @{
        ViewData["Title"] = PublicationsList.Publication;
        Layout = "~/Views/Shared/_ManageLayoute.cshtml";
    }

    <h2>@PublicationsList.Publication @PublicationsList.List</h2>
    <hr />
    <p style="float:left;margin-right:20px;">
        <a class="btn btn-success" href="@Url.Action("CreatePublication")">@PublicationsList.Create @PublicationsList.New</a>
    </p>
    <div class="dropdown" style="float:left;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            @PublicationsList.Pages @PublicationsList.Category
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("PublicationsList", new { id = "" })" >All</a></li>
            @foreach (var item in ViewData["Section"] as IEnumerable<DAL.Context.SectionTranslation>)
            {
                <li><a href="@Url.Action("PublicationsList", new { id = item.SectionId })">@item.Name</a></li>
            }
        </ul>
    </div>
    <table class="table table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>
                    @PublicationsList.Title
                </th>
                <th>
                    @PublicationsList.Date
                </th>
                <th style="min-width: 170px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Info.Date)
                    </td>
                    <td>
                        <a href="@Url.Action("UpdatePublication", new { id = item.InfoId })" class="btn btn-default" >@PublicationsList.Edit</a>
                        <a data-toggle="confirmation" data-title="Are you sure you want to delete record?"
                          href="@Url.Action("DeletePublication", new { id = item.InfoId })" class="btn btn-danger">@PublicationsList.Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
