﻿@model DAL.Context.Users
@using IdeaCms.Resources
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}

<style>
    input[type="checkbox"], .checkbox {
        margin: 0px !important;
    }
</style>


<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("UserList")">@CreateTextPage.Back_to_List</a>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <input type="hidden" name="RegistrationDate" value="@Model.RegistrationDate" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label(UpdateUser.Email, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(UpdateUser.Phone, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(UpdateUser.StoreboxEmail, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.StoreboxEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StoreboxEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(UpdateUser.StoreboxPhone, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.StoreboxPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StoreboxPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(UpdateUser.ValidationCode, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.ValidationCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValidationCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(UpdateUser.Active, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

@if (Model.ParticipateInProject != null)
{
        <div class="form-group">
            @Html.Label(UpdateUser.AceptInProject, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ParticipateInProject)
                    @Html.ValidationMessageFor(model => model.ParticipateInProject, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
}
@if (Model.AcceptUseData != null)
{
        <div class="form-group">
            @Html.Label(UpdateUser.SimilarProject, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AcceptUseData)
                    @Html.ValidationMessageFor(model => model.AcceptUseData, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
}
@if (Model.ContactMe != null)
{
        <div class="form-group">
            @Html.Label(UpdateUser.ContactMe, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ContactMe)
                    @Html.ValidationMessageFor(model => model.ContactMe, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
}
@if (Model.SendMeNewsLetter != null)
{
        <div class="form-group">
            @Html.Label(UpdateUser.NewsLetter, htmlAttributes: new { @class = "col-md-12" })
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.SendMeNewsLetter)
                    @Html.ValidationMessageFor(model => model.SendMeNewsLetter, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
}
        <input type="hidden" name="AuthenticationInfo" value="@Model.AuthenticationInfo" />
        <input type="hidden" name="NemId" value="@Model.NemId" />
        <input type="hidden" name="Active" value="@Model.Active" />
        

        <pre id="json"></pre>



        <div class="form-group">
            <input type="submit" value="@StructureEdit.Update" class="btn btn-success btn-block" />
        </div>
    </div>
}


<script>

    var data = @(new HtmlString(Json.Encode(Model.AuthenticationInfo)));

    if(data != "empty")
    {
        data = JSON.parse(data);
        document.getElementById("json").innerHTML = JSON.stringify(data, undefined, 2);
    }
    
</script>
<script>
    $(document).ready(function () {
        $(".list-box option:nth-child(1)").attr("disabled", true)
    });
</script>