@model IEnumerable<DAL.Context.Users>
@using IdeaCms.Resources
@{ 
    ViewData["Title"] = @UserList.User;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}

<h2>@UserList.User @UserList.List</h2>
<hr />
<p style="float:left;margin-right:20px;">
    <a class="btn btn-success" href="/@ViewBag.Language/UserListApi">@UserList.Service @UserList.Link</a>
</p>

<div class="col-sm-12">
    <h1><span style="color:#e67e22">Rest Api Options</span></h1>

    <p>Username and password you can find in settings section</p>

    <p><span style="font-size:18px">Get link:</span></p>

    <p><span style="font-size:16px"><span style="color:#16a085">{domain}/api/WebApi</span></span></p>

    <p><span style="color:#999999">ex:&nbsp;https://www.mineindkob.dk/api/WebApi</span></p>

    <p><span style="font-size:18px">Delete link:</span></p>

    <p><span style="font-size:16px"><span style="color:#e74c3c">{domain}/api/WebApi/{id}</span></span></p>

    <p><span style="color:#999999">ex:&nbsp;https://www.mineindkob.dk/api/WebApi/2</span></p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

</div>
<table class="table table-bordered">
    <thead class="thead-inverse">
        <tr>
                <th>
                    @UserList.Email
                </th>
                <th>
                    @UserList.Phone
                </th>
                <th>
                    @UserList.RegistrationDate
                </th>
                <th>
                    @UserList.Active
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
         <tr @(item.Active ? String.Empty : "style=background-color:#d2d2d2" ) >
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a href="@Url.Action("UpdateUser", new { id = item.Id })" class="btn btn-default">@QuestionnaireList.Edit</a>
                <a data-toggle="confirmation" data-title="Are you sure you want to delete record?"
                   href=@Url.Action("DeleteUser",new { id = item.Id }) class="btn btn-danger">@UserList.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
