@model Core.Models.QuestionnaireModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = CreateQuestionnaire.Questionnaire;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}


<style>
    .parameter
    {
        width:85%;
        float:right;
    }
    .radio-button
    {
        width:15% !important;
        float:left !important;
    }
    .radio-inputs
    {
        width:100%;
        height:100%;
        overflow:hidden;
    }
    .radio-inputs input[type="radio
    {
        visibility:hidden;
    }
    .btn-group, .btn-group-vertical
    {
        width:100%;
        margin-top:20px;
    }
    .column-10 {
        float: right;
        padding: 0px;
        margin-top: 15px;
    }
    .column-8 {
        float: left;
        padding-left: 0px;
    }
    .column-12 {
        padding-left:0px;
    }
</style>
<h2>@CreateQuestionnaire.Create @CreateQuestionnaire.Questionnaire</h2>

<hr />

<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("QuestionnaireList")">@CreateQuestionnaire.Back_to_List</a>
</div>

<form action="@Url.Action("CreateQuestionnaire")" method="post">
    <div style="width:100%;height:100%; overflow:hidden;">
        <div id="hidden-inputs">

        </div>
        <div style="float:right; width:35%" class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12 funkyradio">
                        <div class="checkbox funkyradio-success">
                            <input checked  class="active" value="true" type="checkbox" id="Published" name="Published" />
                            <label for="Published">@CreateQuestionnaire.Published</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:60%" class="language-tab col-lg-8">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@CreateQuestionnaire.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@CreateQuestionnaire.Danish</a></li>
            </ul>

            <div class="tab-content ">
                <div id="English" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Title" class="col-md-2 control-label">@CreateQuestionnaire.Title</label>
                            <div class="col-md-10">
                                <input name="Title" class="form-control"  />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Question" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                              <input name="Question" placeholder="@CreateQuestionnaire.Question" class="form-control"  />
                                <div class="col-md-12 column-10">
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            <input type="checkbox" class="checkbox1" value="1" name="Answers" id="checkbox1" checked />
                                            <label for="checkbox1"><input name="param_1" class="form-control parameter"  /></label>
                                        </div>
                                        <div class="funkyradio-success">
                                            <input type="checkbox" class="checkbox1" value="2" name="Answers" id="checkbox2" />
                                            <label for="checkbox2"><input name="param_2" class="form-control parameter"  /></label>
                                        </div>
                                        <div class="funkyradio-success">
                                            <input type="checkbox" class="checkbox1" value="3" name="Answers" id="checkbox3" />
                                            <label for="checkbox3"><input name="param_3" class="form-control parameter"  /></label>
                                        </div>
                                        <div class="funkyradio-success">
                                            <input type="checkbox" class="checkbox1" value="4" name="Answers" id="checkbox4" />
                                            <label for="checkbox4"><input name="param_4" class="form-control parameter"  /></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Questionnaire-form">
                        </div>
                        <div class="form-group">
                            <div class="col-md-10" style="float:right">
                                <button onclick="createQuestionnaireForm()" type="button" class="btn btn-info btn-sm btn-block">@CreateQuestionnaire.Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Titledk" class="col-md-2 control-label">@CreateQuestionnaire.Title</label>
                            <div class="col-md-10">
                                <input name="Titledk" class="form-control"  />
                                <span asp-validation-for="Titledk" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Questiondk" class="col-md-2 control-label">@CreateQuestionnaire.Question</label>
                            <div class="col-md-10">
                                <input name="Questiondk" placeholder="@CreateQuestionnaire.Question" class="form-control"  />
                                <div class="col-md-12 column-10">
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            <input type="checkbox" class="checkbox1" value='1' name="Answersdk" id="checkboxdk1" checked />
                                            <label for="checkboxdk1"><input name="param_1dk" class="form-control parameter"  /></label>
                                        </div>
                                        <div class="funkyradio-success">
                                            <input type="checkbox" class="checkbox1" value='2' name="Answersdk" id="checkboxdk2" />
                                            <label for="checkboxdk2"><input name="param_2dk" class="form-control parameter"  /></label>
                                        </div>
                                        <div class="funkyradio-success">
                                            <input type="checkbox" class="checkbox1" value='3' name="Answersdk" id="checkboxdk3" />
                                            <label for="checkboxdk3"><input name="param_3dk" class="form-control parameter"  /></label>
                                        </div>
                                        <div class="funkyradio-success">
                                            <input type="checkbox" class="checkbox1" value='4' name="Answersdk" id="checkboxdk4" />
                                            <label for="checkboxdk4"><input name="param_4dk" class="form-control parameter"  /></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Questionnaire-form-dk">
                        </div>
                        <div class="form-group">
                            <div class="col-md-10" style="float:right">
                                <button onclick="createQuestionnaireFormdk()" type="button" class="btn btn-info btn-sm btn-block">@CreateQuestionnaire.Add</button>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="@CreateQuestionnaire.Create @CreateQuestionnaire.Questionnaire" class="btn btn-success btn-block" />
    </div>
</form>
<script>
    var checkboxId = "checkbox";
    var index = 5;
    var indexdk = 5;
    var checkboxIddk = "checkboxdk"
    function createQuestionnaireFormdk()
    {
        document.getElementById("Questionnaire-form-dk").innerHTML += "<div class='form-group'>"
                       + "<label for='Questiondk' class='col-md-2 control-label'></label>"
                       +"<div class='col-md-10'>"
                        +" <div class='col-md-12 column-12'>"
                        + "<div class='col-md-12 column-8'>"
                        + "<input id='Questiondk' name='Questiondk' placeholder='@CreateQuestionnaire.Question' class='form-control'  />"
                        +"</div>"
                        +"<button type='button' onclick='drop(this)' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
                        +"</div>"
                       +"<div class='col-md-12 column-10'>"
                       + "<div class='funkyradio'>"
                       + "<div class='funkyradio-success'>"
                      + "<input type='checkbox' class='checkbox1' value='1' name='Answersdk' id='" + checkboxIddk + indexdk + "' checked />"
                      + "<label for='" + checkboxIddk + indexdk + "'><input name='param_1dk' class='form-control parameter'  /></label>"
                       + "</div>"
                       + "<div class='funkyradio-success'>"
                          + "<input type='checkbox' class='checkbox1' value='2' name='Answersdk'  id='" + checkboxIddk + (indexdk+1) + "'/>"
                      + "<label for='" + checkboxIddk + (indexdk + 1) + "'><input name='param_2dk' class='form-control parameter'  /></label>"
                       + "</div>"
                       + " <div class='funkyradio-success'>"
                       + "<input type='checkbox' class='checkbox1' value='3' name='Answersdk' id='" + checkboxIddk + (indexdk + 2) + "' />"
                       + "<label  for='" + checkboxIddk + (indexdk + 2) + "'><input name='param_3dk' class='form-control parameter'  /></label>"
                       + "</div>"
                       + "<div class='funkyradio-success'>"
                       + "<input type='checkbox' class='checkbox1' value='4' name='Answersdk' id='" + checkboxIddk + (indexdk + 3) + "' />"
                       + "<label for='" + checkboxIddk + (indexdk + 3) + "'><input name='param_4dk' class='form-control parameter'  /></label>"
                       + "</div>"
                       + "</div>"
                       + "</div>"
                       + "</div>"
                       +"</div>"
        document.getElementById('Questionnaire-form-dk').innerHTML += "<div id='Questionnaire-form-dk'</div>";
        document.getElementById('Questionnaire-form-dk').id = "";
        indexdk += 4;
        check();
    }
    function createQuestionnaireForm() {
        document.getElementById("Questionnaire-form").innerHTML += "<div class='form-group'>"
            + "<label for='Question' class='col-md-2 control-label'></label>"
            + "<div class='col-md-10'>"
            + " <div class='col-md-12 column-12'>"
            + "<div class='col-md-12 column-8'>"
            + "<input id='Question' name='Question' placeholder='@CreateQuestionnaire.Question' class='form-control'  />"
            + "</div>"
            + "<button type='button' onclick='drop(this)' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
            + "</div>"
            + "<div class='col-md-12 column-10'>"
            + "<div class='funkyradio'>"
            + "<div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='1' name='Answers' id='" + checkboxId + index + "' checked />"
            + "<label for='" + checkboxId + index + "'><input name='param_1' class='form-control parameter'  /></label>"
            + "</div>"
            + "<div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='2' name='Answers'  id='" + checkboxId + (index + 1) + "'/>"
            + "<label for='" + checkboxId + (index + 1) + "'><input name='param_2' class='form-control parameter'  /></label>"
            + "</div>"
            + " <div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='3' name='Answers' id='" + checkboxId + (index + 2) + "' />"
            + "<label  for='" + checkboxId + (index + 2) + "'><input name='param_3' class='form-control parameter'  /></label>"
            + "</div>"
            + "<div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='4' name='Answers' id='" + checkboxId + (index + 3) + "' />"
            + "<label for='" + checkboxId + (index + 3) + "'><input name='param_4' class='form-control parameter'  /></label>"
            + "</div>"
            + "</div>"
            + "</div>"
            + "</div>"
            + "</div>"
        document.getElementById('Questionnaire-form').innerHTML += "<div id='Questionnaire-form'</div>";
        document.getElementById('Questionnaire-form').id = "";
        index += 4;
        check();
    }
   function check() {
    $(".checkbox1").on('change', function () {
        if ($(this).is(':checked')) {
            var parent = $(this).parent().parent();
            $(parent).find(".checkbox1").not(this).prop('checked', false);
        }
        else {
            $(this).prop('checked', true);
        }
    });
    }
    check();
    function drop(e)
    {
        $(e).parent().parent().parent().remove();
    }
</script>