@model IEnumerable<Core.Models.QuestionnaireList>
@using IdeaCms.Resources
@{
    ViewData["Title"] = QuestionnaireList.Questionnaire;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<h2>@QuestionnaireList.Questionnaire</h2>
<hr />
<p style="float:left;margin-right:20px;">
    <a class="btn btn-success" href="@Url.Action("CreateQuestionnaire")">@QuestionnaireList.Create @QuestionnaireList.New</a>
</p>
<table class="table table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>
                @QuestionnaireList.Title
            </th>
            <th>
                @QuestionnaireList.Page @QuestionnaireList.Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.Raw(item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Page)
                </td>
                <td>
                    <a  href="@Url.Action("UpdateQuestionnaire", new { id = item.Id })" class="btn btn-default">@QuestionnaireList.Edit</a>
                    <a data-toggle="confirmation" data-title="Are you sure you want to delete record?"
                      href="@Url.Action("DeleteQuestionnaire", new { id = item.Id })" class="btn btn-danger">@QuestionnaireList.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
