@model Core.Models.QuestionnaireModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = UpdateQuestionnaire.Questionnaire;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
}
<style>
    .parameter {
        width: 85%;
        float: right;
    }

    .radio-button {
        width: 15% !important;
        float: left !important;
    }

    .radio-inputs {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .radio-inputs input[type="radio {
            visibility: hidden;
        }

    .btn-group, .btn-group-vertical {
        width: 100%;
        margin-top: 20px;
    }

    .column-10 {
        float: right;
        padding: 0px;
        margin-top: 15px;
    }

    .column-8 {
        float: left;
        padding-left: 0px;
    }

    .column-12 {
        padding-left: 0px;
    }
</style>
<h2>@UpdateQuestionnaire.Update @UpdateQuestionnaire.Questionnaire</h2>

<hr />

<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("QuestionnaireList")">@UpdateQuestionnaire.Back_to_List</a>
</div>

<form action="@Url.Action("UpdateQuestionnaire")" method="post">
    <div style="width:100%;height:100%; overflow:hidden;">
        <div id="hidden-inputs">
            <input type="hidden" name="InfoId" value="@Model.InfoId"/>
        </div>
        <div style="float:right; width:35%" class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-12 funkyradio">
                        <div class="checkbox funkyradio-success">
                            @if (Model.Published)
                            {
                                <input checked class="active" name="Published" value="true" type="checkbox" id="Published"/>
                            }
                            else
                            {
                                <input class="active" name="Published" value="true" type="checkbox" id = "Published" />
                            }
                            <label for="Published">@UpdateQuestionnaire.Published</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:60%" class="language-tab col-lg-8">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@UpdateQuestionnaire.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@UpdateQuestionnaire.Danish</a></li>
            </ul>

            <div class="tab-content ">
                <div id="English" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Title" class="col-md-2 control-label">@UpdateQuestionnaire.Title</label>
                            <div class="col-md-10">
                                <input value="@Model.Title" name="Title" id="Title" class="form-control"  />
                            </div>
                        </div>
                        <div id="Questionnaire-form">
                        </div>
                        <div class="form-group">
                            <div class="col-md-10" style="float:right">
                                <button onclick="createQuestionnaireForm()" type="button" class="btn btn-info btn-sm btn-block">@UpdateQuestionnaire.Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Titledk" class="col-md-2 control-label">@UpdateQuestionnaire.Title</label>
                            <div class="col-md-10">
                                <input value="@Model.Titledk" name="Titledk" id="Titledk" class="form-control"/>
                            </div>
                        </div>
                        <div id="Questionnaire-form-dk">
                        </div>
                        <div class="form-group">
                            <div class="col-md-10" style="float:right">
                                <button onclick="createQuestionnaireFormdk()" type="button" class="btn btn-info btn-sm btn-block">@UpdateQuestionnaire.Add</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="@UpdateQuestionnaire.Update @UpdateQuestionnaire.Questionnaire" class="btn btn-success btn-block" />
    </div>
</form>


@for (int i = 0; i < Model.Question.Count(); i++)
{
    <script>
            $(document).ready(function () {
                createQuestionnaireFormdb("@Model.Question[i]", "@Model.Answers[i]", "@Model.param_1[i]", "@Model.param_2[i]","@Model.param_3[i]", "@Model.param_4[i]");
            });
    </script>
}

@for (int i = 0; i < Model.Questiondk.Count(); i++)
{
    <script>
            $(document).ready(function () {
                createQuestionnaireFormdkdb("@Model.Questiondk[i]", "@Model.Answersdk[i]", "@Model.param_1dk[i]", "@Model.param_2dk[i]","@Model.param_3dk[i]", "@Model.param_4dk[i]");
            });
    </script>
}
<script>
    var checkboxId = "checkbox";
    var index = 5;
    var indexdk = 5;
    var checkboxIddk = "checkboxdk"
    function createQuestionnaireFormdk()
    {
        document.getElementById("Questionnaire-form-dk").innerHTML += "<div class='form-group'>"
                       + "<label for='Questiondk' class='col-md-2 control-label'></label>"
                       +"<div class='col-md-10'>"
                        +" <div class='col-md-12 column-12'>"
                        + "<div class='col-md-12 column-8'>"
                        + "<input id='Questiondk' name='Questiondk' placeholder='@UpdateQuestionnaire.Question' class='form-control'  />"
                        +"</div>"
                        +"<button type='button' onclick='drop(this)' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
                        +"</div>"
                       +"<div class='col-md-12 column-10'>"
                       + "<div class='funkyradio'>"
                       + "<div class='funkyradio-success'>"
                      + "<input type='checkbox' class='checkbox1' value='1' name='Answersdk' id='" + checkboxIddk + indexdk + "' checked />"
                      + "<label for='" + checkboxIddk + indexdk + "'><input name='param_1dk' class='form-control parameter'  /></label>"
                       + "</div>"
                       + "<div class='funkyradio-success'>"
                          + "<input type='checkbox' class='checkbox1' value='2' name='Answersdk'  id='" + checkboxIddk + (indexdk+1) + "'/>"
                      + "<label for='" + checkboxIddk + (indexdk + 1) + "'><input name='param_2dk' class='form-control parameter'  /></label>"
                       + "</div>"
                       + " <div class='funkyradio-success'>"
                       + "<input type='checkbox' class='checkbox1' value='3' name='Answersdk' id='" + checkboxIddk + (indexdk + 2) + "' />"
                       + "<label  for='" + checkboxIddk + (indexdk + 2) + "'><input name='param_3dk' class='form-control parameter'  /></label>"
                       + "</div>"
                       + "<div class='funkyradio-success'>"
                       + "<input type='checkbox' class='checkbox1' value='4' name='Answersdk' id='" + checkboxIddk + (indexdk + 3) + "' />"
                       + "<label for='" + checkboxIddk + (indexdk + 3) + "'><input name='param_4dk' class='form-control parameter'  /></label>"
                       + "</div>"
                       + "</div>"
                       + "</div>"
                       + "</div>"
                       +"</div>"
        document.getElementById('Questionnaire-form-dk').innerHTML += "<div id='Questionnaire-form-dk'</div>";
        document.getElementById('Questionnaire-form-dk').id = "";
        indexdk += 4;
        check();
    }
    function createQuestionnaireForm() {
        document.getElementById("Questionnaire-form").innerHTML += "<div class='form-group'>"
            + "<label for='Question' class='col-md-2 control-label'></label>"
            + "<div class='col-md-10'>"
            + " <div class='col-md-12 column-12'>"
            + "<div class='col-md-12 column-8'>"
            + "<input id='Question' name='Question' placeholder='@UpdateQuestionnaire.Question' class='form-control'  />"
            + "</div>"
            + "<button type='button' onclick='drop(this)' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
            + "</div>"
            + "<div class='col-md-12 column-10'>"
            + "<div class='funkyradio'>"
            + "<div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='1' name='Answers' id='" + checkboxId + index + "' checked />"
            + "<label for='" + checkboxId + index + "'><input name='param_1' class='form-control parameter'  /></label>"
            + "</div>"
            + "<div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='2' name='Answers'  id='" + checkboxId + (index + 1) + "'/>"
            + "<label for='" + checkboxId + (index + 1) + "'><input name='param_2' class='form-control parameter'  /></label>"
            + "</div>"
            + " <div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='3' name='Answers' id='" + checkboxId + (index + 2) + "' />"
            + "<label  for='" + checkboxId + (index + 2) + "'><input name='param_3' class='form-control parameter'  /></label>"
            + "</div>"
            + "<div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='4' name='Answers' id='" + checkboxId + (index + 3) + "' />"
            + "<label for='" + checkboxId + (index + 3) + "'><input name='param_4' class='form-control parameter'  /></label>"
            + "</div>"
            + "</div>"
            + "</div>"
            + "</div>"
            + "</div>"
        document.getElementById('Questionnaire-form').innerHTML += "<div id='Questionnaire-form'</div>";
        document.getElementById('Questionnaire-form').id = "";
        index += 4;
        check();
    }
    function createQuestionnaireFormdb(p1,p2,p3,p4,p5,p6) {
        document.getElementById("Questionnaire-form").innerHTML += "<div class='form-group'>"
            + "<label for='Question' class='col-md-2 control-label'></label>"
            + "<div class='col-md-10'>"
            + " <div class='col-md-12 column-12'>"
            + "<div class='col-md-12 column-8'>"
            + "<input id='Question' value='" + p1 + "' name='Question' placeholder='@UpdateQuestionnaire.Question' class='form-control'  />"
            + "</div>"
            + "<button type='button' onclick='drop(this)' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
            + "</div>"
            + "<div class='col-md-12 column-10'>"
            + "<div class='funkyradio'>"
            + "<div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='1' name='Answers' id='" + checkboxId + index + "'" + (p2 == 1 ? ' checked ' : "" )+ " />"
                + "<label for='" + checkboxId + index + "'><input name='param_1' value='" + p3 + "' class='form-control parameter'  /></label>"
                + "</div>"
                + "<div class='funkyradio-success'>"
                + "<input type='checkbox' class='checkbox1' value='2' name='Answers'  id='" + checkboxId + (index + 1) + "'" + (p2 == 2 ? ' checked ' : "") + "/>"
                    + "<label for='" + checkboxId + (index + 1) + "'><input name='param_2' value='" + p4 + "' class='form-control parameter'  /></label>"
                    + "</div>"
                    + " <div class='funkyradio-success'>"
                    + "<input type='checkbox' class='checkbox1' value='3' name='Answers' id='" + checkboxId + (index + 2) + "'" + (p2 == 3? ' checked ' : "" )+  " />"
                        + "<label  for='" + checkboxId + (index + 2) + "'><input name='param_3' value='" + p5 + "' class='form-control parameter'  /></label>"
                        + "</div>"
                        + "<div class='funkyradio-success'>"
                        + "<input type='checkbox' class='checkbox1' value='4' name='Answers' id='" + checkboxId + (index + 3) + "' " + (p2 == 4 ? ' checked ' : ""  )+"/>"
                        + "<label for='" + checkboxId + (index + 3) + "'><input name='param_4' value='" + p6 + "' class='form-control parameter'  /></label>"
                        + "</div>"
                        + "</div>"
                        + "</div>"
                        + "</div>"
                        + "</div>"
        document.getElementById('Questionnaire-form').innerHTML += "<div id='Questionnaire-form'</div>";
        document.getElementById('Questionnaire-form').id = "";
        index += 4;
        check();
    }
    function createQuestionnaireFormdkdb(p1, p2, p3, p4, p5, p6) {
        document.getElementById("Questionnaire-form-dk").innerHTML += "<div class='form-group'>"
            + "<label for='Questiondk' class='col-md-2 control-label'></label>"
            + "<div class='col-md-10'>"
            + " <div class='col-md-12 column-12'>"
            + "<div class='col-md-12 column-8'>"
            + "<input id='Questiondk' value='" + p1 + "' name='Questiondk' placeholder='@UpdateQuestionnaire.Question' class='form-control'  />"
            + "</div>"
            + "<button type='button' onclick='drop(this)' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
            + "</div>"
            + "<div class='col-md-12 column-10'>"
            + "<div class='funkyradio'>"
            + "<div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='1' name='Answersdk' id='" + checkboxIddk + indexdk + "'" + (p2 == 1 ? ' checked ' : "") + " />"
            + "<label for='" + checkboxIddk + indexdk + "'><input name='param_1dk' value='" + p3 + "' class='form-control parameter'  /></label>"
            + "</div>"
            + "<div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='2' name='Answersdk'  id='" + checkboxIddk + (indexdk + 1) + "'" + (p2 == 2 ? ' checked ' : "") + "/>"
            + "<label for='" + checkboxIddk + (indexdk + 1) + "'><input name='param_2dk' value='" + p4 + "' class='form-control parameter'  /></label>"
            + "</div>"
            + " <div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='3' name='Answersdk' id='" + checkboxIddk + (indexdk + 2) + "'" + (p2 == 3 ? ' checked ' : "") + " />"
            + "<label  for='" + checkboxIddk + (indexdk + 2) + "'><input name='param_3dk' value='" + p5 + "' class='form-control parameter'  /></label>"
            + "</div>"
            + "<div class='funkyradio-success'>"
            + "<input type='checkbox' class='checkbox1' value='4' name='Answersdk' id='" + checkboxIddk + (indexdk + 3) + "' " + (p2 == 4 ? ' checked ' : "") + "/>"
            + "<label for='" + checkboxIddk + (indexdk + 3) + "'><input name='param_4dk' value='" + p6 + "' class='form-control parameter'  /></label>"
            + "</div>"
            + "</div>"
            + "</div>"
            + "</div>"
            + "</div>"
        document.getElementById('Questionnaire-form-dk').innerHTML += "<div id='Questionnaire-form-dk'</div>";
        document.getElementById('Questionnaire-form-dk').id = "";
        indexdk += 4;
        check();
    }
   function check() {
    $(".checkbox1").on('change', function () {
        if ($(this).is(':checked')) {
            var parent = $(this).parent().parent();
            $(parent).find(".checkbox1").not(this).prop('checked', false);
        }
        else {
            $(this).prop('checked', true);
        }
    });
    }
    check();
    function drop(e)
    {
        $(e).parent().parent().parent().remove();
    }
</script>