@model IEnumerable<DAL.Context.InfoTranslation>
@using IdeaCms.Resources
    @{
        ViewData["Title"] = PostPagesList.Post;
        Layout = "~/Views/Shared/_ManageLayoute.cshtml";
    }
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong><span>@TempData["Error"].ToString()</span>
    </div>
    TempData.Remove("Error");
}
<script>
    function changeId(p1)
    {
        $("#create").attr("href", "/CreatePostPage/" + p1);
    }
</script>
    <h2>@PostPagesList.Post @PostPagesList.Page @PostPagesList.List</h2>
    <hr />
    <p style="float:left;margin-right:20px;">
        <a class="btn btn-success" id="create" href="@Url.Action("CreatePostPage", new { id = ViewBag.Id })">@PostPagesList.Create @PostPagesList.New</a>
    </p>
    <div class="dropdown" style="float:left;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            @PostPagesList.Display @PostPagesList.In
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("PostPagesList", new { id =""})">@PostPagesList.All</a></li>
            @foreach (var item in ViewData["Types"] as IEnumerable<DAL.Context.Settings>)
            {
                <li><a href="@Url.Action("PostPagesList", new { id = item.Id })" onclick="changeId(@item.Id)">@item.Description</a></li>
            }
        </ul>
    </div>
    <table class="table table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>
                    @PostPagesList.Title
                </th>
                <th>
                    @PostPagesList.Description
                </th>
                <th>
                    @PostPagesList.Section
                </th>
                <th>
                   @PostPagesList.Date
                </th>
                <th style="min-width: 170px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(item.Title)
                    </td>
                    <td>
                        @Html.Raw(item.Description)
                    </td>
                    <td>
                        @(item.Info.Sections.SectionTranslation.Where(x => x.Language.Name == ViewBag.Language).First() != null ? item.Info.Sections.SectionTranslation.Where(x => x.Language.Name == ViewBag.Language).First().Name : " ")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Info.Date)
                    </td>
                    <td>
                        <a href="@Url.Action("UpdatePostPage", new { id = item.InfoId})" class="btn btn-default">@PostPagesList.Edit</a>
                        <a data-toggle="confirmation" data-title="Are you sure you want to delete record?"
                           href="@Url.Action("DeletePostPage", new { id = item.InfoId})" class="btn btn-danger">@PostPagesList.Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
