@model Core.Models.PostPageModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = UpdatePostPage.Post;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";
    var ImagesList = ViewData["Images"] as IEnumerable<DAL.Context.File>;
}
<h2>@UpdatePostPage.Update @UpdatePostPage.Post @UpdatePostPage.Page</h2>

<hr />

<div class="multi-language-backspace">
    <a class="btn btn-warning" href="@Url.Action("PostPagesList")">Back to List</a>
</div>

<form action="@Url.Action("UpdatePostPage")" method="post">
    <div style="width:100%;height:100%; overflow:hidden;">
        <div id="hidden-inputs">
            <input name="FileId" value="@Model.FileId" hidden />
        </div>
        <div style="float:right; width:35%" class="single-tab">
            <div style="padding-top:40px; border-top:1px solid #dddddd" class="form-horizontal">
                <div class="form-group">
                    <label for="group" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select id="group" name="Section" class="form-control">
                            @foreach (var item in ViewData["Section"] as IEnumerable<DAL.Context.SectionTranslation>)
                            {
                                if (Model.Section == item.SectionId)
                                {
                                    <option selected="selected" value="@item.SectionId">@item.Description</option>
                                }
                                else
                                {
                                    <option value="@item.SectionId">@item.Description</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <input type="hidden" asp-for="DislplayIn" value="@ViewBag.Id" />
                <div class="form-group">
                    <label for="Date" class="col-md-2 control-label">@UpdatePostPage.Date</label>
                    <div class="col-md-10">
                        <input name="Date" id="Date" value="@Model.Date.ToString("yyyy-MM-dd")" class="form-control" type="date"  />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a data-toggle="modal" id="choose-image" data-target="#myModal" class="choose-image">
                            @foreach (var item in ViewData["Images"] as IEnumerable<DAL.Context.File>)
                            {
                                if (item.Id == Model.FileId)
                                {
                                    <img src="~/wwwroot/images/standard/@item.FileName@item.Extension" />
                                }
                            }
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2 funkyradio">
                        <div class="checkbox funkyradio-success">
                            @if (Model.Published)
                            {
                                <input checked type="checkbox" value="true" class="active" id="Published" name="Published" />
                            }
                            else
                            {
                                <input type="checkbox" value="true" class="active" id="Published" name="Published" />
                            }

                                <label for="Published">@UpdatePostPage.Published</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:60%" class="language-tab col-lg-8">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#English">@UpdatePostPage.English</a></li>
                <li><a data-toggle="tab" href="#Danish">@UpdatePostPage.Danish</a></li>
            </ul>

            <div class="tab-content ">
                <div id="English" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Title"class="col-md-2 control-label">@UpdatePostPage.Title</label>
                            <div class="col-md-10">
                                <input  name="Title" value="@Model.Title" id="Title"  class="form-control"  />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="col-md-2 control-label">@UpdatePostPage.Description</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Content" class="col-md-2 control-label">@UpdatePostPage.Content</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Content)
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Danish" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Titledk" class="col-md-2 control-label">@UpdatePostPage.Title</label>
                            <div class="col-md-10">
                                <input name="Titledk" value="@Model.Titledk" id="Titledk" class="form-control" />
                                <span asp-validation-for="Titledk" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descriptiondk" class="col-md-2 control-label">@UpdatePostPage.Description</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Descriptiondk)
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contentdk" class="col-md-2 control-label">@UpdatePostPage.Content</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(x => x.Contentdk)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="@UpdatePostPage.Update @UpdatePostPage.Post @UpdatePostPage.Page" class="btn btn-success btn-block" />
    </div>
</form>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@UpdatePostPage.File @UpdatePostPage.Manager</h4>
            </div>
            <div class="modal-body">
                <div id="modelgallery" class="modal-gallery">
                    <a data-dismiss="modal" onclick="createInput(0,'','')" class="modal-gallery-image modal-gallery-image-clear">
                    </a>
                    @foreach (var item in ImagesList)
                    {
                        <a data-dismiss="modal" onclick="createInput(@item.Id,'@item.FileName','@item.Extension')" class="modal-gallery-image">
                            <img src="~/wwwroot/images/standard/@item.FileName@item.Extension" />
                        </a>
                    }
                </div>
                <div class="upload-file">
                    <form>
                        <div style="padding-left:0px" class="modal-footer">
                            <div style="padding-left:0px" class="col-lg-6 col-sm-6 col-12">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            @UpdatePostPage.Browse<input type="file" id="file" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <button style="float:left" type="button" id="upload" class="btn btn-primary">@UpdatePostPage.Upload</button>
                        </div>
                    </form>
                    <div id="imgloader" class="loader"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@UpdatePostPage.Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    function getExtension(filename) {
        var parts = filename.split('.');
        return parts[parts.length - 1];
    }
    function isImage(filename) {
        var ext = getExtension(filename);
        switch (ext.toLowerCase()) {
            case 'jpg':
            case 'png':
            case 'JPEG':
            case 'PNG':
                return true;
        }
        return false;
    }
     $(document).ready(function () {
         $("#upload").click(function () {
             if (!isImage($('#file')[0].files[0].name)) {
                 window.alert('file is not valid');
             }
             else {
                 var formData = new FormData();
                 formData.append('file', $('#file')[0].files[0]);
                 formData.append('Type', @ViewBag.Id);
                 $.ajax({
                     url: '/Manage/PostPage/UploadImage',
                     type: 'POST',
                     data: formData,
                     processData: false,
                     contentType: false,
                     success: function (data) {
                         if (data == "0") {

                         }
                         else {
                             var obj = JSON.parse(data);
                             document.getElementById("modelgallery").innerHTML += "<a  data-dismiss='modal' onclick=\"createInput(" + obj.id + ",'" + obj.name + "','" + obj.extension + "')\" class='modal-gallery-image'><img src='/wwwroot/images/standard/" + obj.name + obj.extension + "'/></a>";
                         }
                     }
                 });
             }
        });
    });
</script>
<script>
    $(function () {
        $("#Content").ckeditor();
        $("#Description").ckeditor();
        $("#Contentdk").ckeditor();
        $("#Descriptiondk").ckeditor();
    });
    function createInput(p1, p2, p3) {
        if (p1 == 0) {
            document.getElementById("hidden-inputs").innerHTML = "";
            document.getElementById("choose-image").innerHTML = "";
        } else {
            document.getElementById("hidden-inputs").innerHTML = "<input type='hidden' name='FileId' value='" + p1 + "'/>";
            document.getElementById("choose-image").innerHTML = "<img src='/wwwroot/images/standard/" + p2 + p3 + "'/></a>";
        }
    }
</script>