﻿<!DOCTYPE html>
<html class="flexboxtweener">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="@Url.Content("~/Content/style/favicon.ico")"/>
    <title>@ViewBag.Maintitle</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Styling -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    @Styles.Render("~/bundles/style")
    @Scripts.Render("~/bundles/materialize.js")
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
