﻿@using IdeaCms.Helpers
@using Core.Operations
@using DAL.Context
@using IdeaCms.Resources
@{ 
    string User = new SessionHelper(HttpContext.Current).GetSessionUserName();
    int id = (int)Session["user"];
    List<int> permisions = new SessionHelper(HttpContext.Current).GetSessionPermisions();
    PageOperaions page = new PageOperaions();
    var pages = page.GetPageList();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Research</title>
    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/wwwroot/css/ManageStyle.css" />
    <link rel="stylesheet" href="~/wwwroot/css/Icons.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/Bootstrap_Confirmation.js"></script>
    <script src="~/wwwroot/js/jquery.nestable.js"></script>
    <link href="~/wwwroot/css/Nestable.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/wwwroot/js/bootstrap-select.js"></script>
    <link href="~/wwwroot/css/bootstrap-select.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@ManageLayoute.DashBoard</a>
            </div>
               <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                   <ul class="nav navbar-nav">
                       <li class="dropdown administrator_panel active">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ManageLayoute.Hello @User<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon icon-manager"></span></a>
                           <ul class="dropdown-menu forAnimate" role="menu">
                               <li><a href="@Url.Action("CurrentUser","Administrators", new { id = id })">@User</a></li>
                               <li><a href="@Url.Action("Logout", "Manage")">@ManageLayoute.log_out</a></li>
                           </ul>
                       </li>

                       @foreach (var item in pages)
                       {
                           if (permisions.Contains(item.PagesId))
                           {
                                <li><a href="@Url.Action(item.Pages.Action, item.Pages.Controller)">@item.text<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-@item.Pages.Icon"></span></a></li>
                           }
                       }
                       @foreach (var category in page.GetCategories())
                       {
                           <li class="dropdown">
                               <a href="#" class="dropdown-toggle" data-toggle="dropdown">@category<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-@category"></span></a>
                               <ul class="dropdown-menu forAnimate" role="menu">
                                   @foreach (var item in page.GetByGroup(category))
                                   {
                                       if (permisions.Contains(item.PagesId))
                                       {
                                        <li><a href="@Url.Action(item.Pages.Action,item.Pages.Controller)">@item.text</a></li>
                                       }
                                   }
                               </ul>
                           </li>
                       }
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ManageLayoute.Language<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon glyphicon-globe"></span></a>
                           <ul class="dropdown-menu forAnimate" role="menu">
                                   <li><a href="/en-US/Manage/@ViewContext.RouteData.Values["Controller"]/@ViewContext.RouteData.Values["Action"]/@ViewContext.RouteData.Values["Id"]">@ManageLayoute.English</a></li>
                                   <li><a href="/da-DK/Manage/@ViewContext.RouteData.Values["Controller"]/@ViewContext.RouteData.Values["Action"]/@ViewContext.RouteData.Values["Id"]">@ManageLayoute.Danish</a></li>
                           </ul>
                       </li>

                   </ul>
                </div>
        </div>
    </nav>
    <section class="main">
        @RenderBody()
    </section>
    <script src="~/wwwroot/js/bootstrap_select.js"></script>
    <script src="~/wwwroot/js/Manage.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/adapters/jquery.js"></script>
</body>
</html>