﻿<!DOCTYPE html>
<html class="flexboxtweener">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Styling -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @*@Styles.Render("~/bundles/style")
    @Scripts.Render("~/bundles/materialize.js")*@
</head>

<body class="homepage">
    <header>
        <!-- Dropdown Structure -->
        <ul id="nemid-dropdown" class="dropdown-content">
            <li>@Html.ActionLink("Logon", "Logon", "Nemid")</li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="nemid-dropdown" data-beloworigin="true" data-hover="hover">NemID<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header">NemID<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>@Html.ActionLink("Logon", "Logon", "Nemid")</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <script>$( document ).ready(function(){ $(".button-collapse").sideNav(); })</script>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    @RenderSection("scripts", required: false)
</body>
</html>
