﻿@using Core.Operations;
@{
    int sectionId = (ViewBag.SectionId == null) ? 1084 : ViewBag.SectionId;
    WebOperations operation = new WebOperations();
    int homesectionId = operation.homeSectionId();
    List <DAL.Context.SectionTranslation> sections = operation.getSections();
    DAL.Context.Translation translation = TempData["Translate"] as DAL.Context.Translation;
    List<int> MainMenuItems = operation.MainMenuItems();
    List<int> TopMenuItems = operation.TopMenuItems();
    List<int> BannerToSection = operation.BannerToSection(sectionId);
    List<int> middleMenues = operation.MiddleMenuItems();
    var logo = operation.getLogo();
    var HeaderBanner = operation.getHeaderBanner();
    var footerBanner = operation.getFooterBanner();
    string MainMenuClass = "first";
    string TopMenuClass = "first";
    string href = "home_";
    int hrefId = 6;
}
<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116152382-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116152382-1');
    </script>

    <!-- Bootstrap -->
    <link href="~/wwwroot/scripts/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/wwwroot/scripts/photoswipe/photoswipe.css" rel="stylesheet">
    <link href="~/wwwroot/scripts/photoswipe/default-skin/default-skin.css" rel="stylesheet">
    <link rel="icon" href="/wwwroot/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="@Url.Content("../wwwroot/favicon.ico")" type="image/x-icon" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/wwwroot/scripts/js/jquery.min.js"></script>
    <script src="~/wwwroot/scripts/js/jquery.mobile.custom.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/wwwroot/scripts/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/scripts/js/jquery.fancybox.js"></script>

    <link rel="stylesheet" href="~/wwwroot/scripts/css/style.css?v1" type="text/css">

    <meta name="keywords" content="@ViewData["Title"]">
    <meta name="description" content="@ViewData["Title"]">
    <meta name="author" content="@translation.WebsiteTitle">
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:image" content="~/wwwroot/Images/icons/favicon.ico">
    <meta property="og:description" content="@ViewData["Title"]">


    <!-- scrolls social -->
    @*<link rel="icon" href="themes/default/images/favicon.ico" type="image/x-icon">*@
    @*<link rel="shortcut icon" href="themes/default/images/favicon.ico" type="image/x-icon">*@


    <title>@ViewData["Title"]</title>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 0px;
        }
    </style>
</head>

<body data-spy="scroll" data-target="#section-navbar" data-offset="100" class="en-US">

    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header pull-right">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-xs-9 col-sm-5">
                        <div class="logo">
                            <a href="/@ViewBag.Language/">
                                <img src="@logo" alt="@translation.WebsiteTitle">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <div class="collapse navbar-collapse" id="header-navbar">
                            <div class="container-fluid">
                                <div class="row">
                                    <ul id="language-dd">
                                    @if (ViewBag.Language == "en-US")
                                    {
                                        <li class="active">
                                            <a title="en-US">
                                                English
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/da-DK/@ViewBag.CurrentSlug" title="da-DK">
                                                Dansk
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/en-US/@ViewBag.CurrentSlug" title="en-US">
                                                English
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a title="dk">
                                                Dansk
                                            </a>
                                        </li>
                                    }
                                    </ul>
                                    <ul class="nav navbar-nav members-nav pull-right">
                                        @foreach (var item in sections)
                                        {
                                            if (TopMenuItems.Contains(item.SectionId))
                                            {
                                                <li class="@TopMenuClass">
                                                    <a href="/@ViewBag.Language/@item.Sections.Slug"><i class="fa fa-arrow-circle-o-right"></i>@item.Sections.SectionTranslation.Where(x => x.Language.Name == ViewBag.Language).FirstOrDefault().Name</a>
                                                </li>
                                                TopMenuClass = "";
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="row">
                                    <ul class="nav navbar-nav site-nav pull-right">
                                        @foreach (var item in sections)
                                        {
                                            if (MainMenuItems.Contains(item.SectionId))
                                            {
                                                if (item.Sections.SectionTypes.Description == "Text Page")
                                                {
                                                    <li class="@MainMenuClass">
                                                        <a href="/@ViewBag.Language/@item.Sections.Info.First().InfoTranslation.Where(x=>x.Language.Name == @ViewBag.Language).FirstOrDefault().Slug">@item.Sections.SectionTranslation.Where(x => x.Language.Name == ViewBag.Language).FirstOrDefault().Name</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="@MainMenuClass">
                                                        <a href="/@ViewBag.Language/@item.Sections.Slug">@item.Sections.SectionTranslation.Where(x => x.Language.Name == ViewBag.Language).FirstOrDefault().Name</a>
                                                    </li>
                                                }

                                                MainMenuClass = "";
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @if (sectionId == homesectionId)
    {
        <nav id="section-navbar" class="navbar navbar-with-icons">
            <ul class="nav navbar-nav">
                @foreach (var item in sections)
                {
                    if (middleMenues.Contains(item.SectionId))
                    {
                        <li class="">
                            <a href="#@href@hrefId.ToString()">
                                <div class="link-wrapper">
                                    <span class="icon @item.Sections.icon"></span>
                                    <span class="desc">@item.Sections.SectionTranslation.Where(x => x.Language.Name == ViewBag.Language).FirstOrDefault().Name</span>
                                </div>
                            </a>
                        </li>
                        hrefId++;
                    }
                }
            </ul>
        </nav>
    }
    

    @if (HeaderBanner != null && BannerToSection.Contains(HeaderBanner.BannerId))
    {
        <div class="container-fluid image-header">
            <div class="row">
                <div class="col-xs-12 background">
                    <div class="row">
                        @if (HeaderBanner.File != null)
                        {
                            <img src="~/wwwroot/images/standard/@HeaderBanner.File.FileName@HeaderBanner.File.Extension" alt="">
                        }
                        
                        <div class="col-xs-8 col-sm-4 col-md-4 col-sm-offset-1 banner-descrition">
                            @Html.Raw(HeaderBanner.Title)
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @RenderBody()
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="pswp__bg"></div>

        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">


                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

    <footer class="container-fluid footer full-banner">
        <div class="row">
            @if(footerBanner != null && BannerToSection.Contains(footerBanner.BannerId))
            {
                if(footerBanner.File != null)
                {
                    <a href="@footerBanner.Url" target="@footerBanner.Banner.Target">
                        <img src="~/wwwroot/images/standard/@footerBanner.File.FileName@footerBanner.File.Extension" alt="">
                    </a>
                }

            }
        </div>
    </footer>

    <script src="~/wwwroot/scripts/photoswipe/photoswipe.min.js"></script>
    <script src="~/wwwroot/scripts/photoswipe/photoswipe-ui-default.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.fancy').each(function () {
                var img = new Image();
                var $this = $(this);
                img.onload = function () {
                    $this.attr('data-size', img.naturalWidth + "x" + img.naturalHeight);
                };
                img.src = $(this).attr('href');
            });
        });
        $('.fancy').click(function (e) {
            var pswpElement = document.querySelectorAll('.pswp')[0]
            e.preventDefault();
            var items = [];
            d = "0x0";
            if ($(this).attr('data-size'))
            {
                var d = $(this).attr('data-size').split('x');
            }
            

            items.push({
                src: $(this).attr('href'),
                //w: parseInt($(this).find('img')[0].naturalWidth),
                //h: parseInt($(this).find('img')[0].naturalHeight)
                w: parseInt(d[0]),
                h: parseInt(d[1])
            });
            $('.fancy').not($(this)).each(function () {
                d = "0x0";
                if ($(this).attr('data-size')) {
                    var d = $(this).attr('data-size').split('x');
                }
                items.push({
                    src: $(this).attr('href'),
                    //w: parseInt($(this).find('img')[0].naturalWidth),
                    //h: parseInt($(this).find('img')[0].naturalHeight)
                    w: parseInt(d[0]),
                    h: parseInt(d[1])
                });
            });

            var options = {
                // history & focus options are disabled on CodePen
                history: false,
                focus: false,

                showAnimationDuration: 0,
                hideAnimationDuration: 0

            };
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        });

        window.document.addEventListener('nemidEventer', handleEvent, false)

        function handleEvent(e) {
            eneblaForm();
        }


// document.getElementById('btn').onclick = openPhotoSwipe;
    </script>



    <script src="~/wwwroot/scripts/js/site.js"></script>
    <script src="~/wwwroot/scripts/js/animation.slider.js"></script>
    <script src="~/wwwroot/scripts/js/scripts.js"></script>



</body>
</html>