﻿<div class="row">
    <div class="col s12 center-align"><br/><h3>Error message</h3></div>
    <div class="col 12">Following is the usermessage received from the backend<br />If no usermessage is received we recommend your own generic errormessage tailored for your users</div>
</div>
<div class="row">
    <div class="col s12">
        @ViewBag.ErrorMessage
    </div>
</div>