@model Core.Models.TranslationModel
@using IdeaCms.Resources
@{
    ViewData["Title"] = Translation.Translation_t;
    Layout = "~/Views/Shared/_ManageLayoute.cshtml";

   System.Resources.ResourceManager rm = new System.Resources.ResourceManager(typeof(Translation));
}
<style>
    .col-md-8 {
        margin-bottom: 5px !important;
        text-align: left !important;
    }

    .form-horizontal {
        max-width: inherit;
    }
</style>
<h4>@Translation.Translation_t</h4>
<hr />

<form action="@Url.Action("UpdateTranslation")" method="post">
    <div style="float:none; width:100%" class="language-tab col-lg-8">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#English">English</a></li>
            <li><a data-toggle="tab" href="#Danish">Danish</a></li>
        </ul>

        <div class="tab-content ">
            <div id="English" class="tab-pane fade in active">
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    @foreach (var item in Model.GetType().GetProperties().Where(p => !p.Name.EndsWith("dk")))
                    {
                        if (item.Name == "Id")
                        {

                        }
                        else
                        {
                            <div class="form-group">
                                <label for="@item.Name" class="col-md-8 control-label">@rm.GetString(item.Name)</label>
                                <div class="col-md-12">
                                    <input name="@item.Name" class="form-control" value="@item.GetValue(Model, null)" />
                                    <span asp-validation-for="@item.Name" class="text-danger"></span>
                                </div>
                            </div>
                        }


                    }
                </div>
            </div>
            <div id="Danish" class="tab-pane fade">
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="Iddk" value="@Model.Iddk" />
                    @foreach (var item in Model.GetType().GetProperties().Where(p => p.Name.EndsWith("dk")))
                    {
                        if (item.Name == "Iddk")
                        {

                        }
                        else
                        {
                        <div class="form-group">

                            <label for="@item.Name" class="col-md-8 control-label">@rm.GetString(item.Name.Replace("dk", ""))</label>

                            <div class="col-md-12">
                                <input name="@item.Name" class="form-control" value="@item.GetValue(Model, null)" />
                                <span asp-validation-for="@item.Name" class="text-danger"></span>
                            </div>
                        </div>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success btn-block" />
    </div>
</form>

